.borda {
    border: 1px solid #000;
}

.ingredientes {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.card-image {
    border-radius: 20px;
}

.card-image__image {
    height: 35vh;
}

.card-marmita-atual {
    --background: #ababab;
    border-radius: 10px;
}

.ingredientes-title{
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

.lista-ingredientes_ingredientes {
    border-radius: 10px;
    margin-bottom: 10px;
    --background: #efefef;
}

.todos-ingredientes {
    margin-bottom: 10vh;
}

.diferentes-opcoes {
    overflow-y: scroll;
    height: 50vh;
}