<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-justify-content-center ingredientes ion-padding">
    <ion-col size="11" sizeMd="4">
      <ion-row color="primary" class="card-image ion-justify-content-center ion-align-items-center ion-padding">
        <img src="https://i.pinimg.com/564x/34/cd/98/34cd98a30cd58f85e25e56a9030ca06c.jpg" />
      </ion-row>
    </ion-col>

    <ion-col size="12" sizeMd="5">
      <ion-row class="card">
        <ion-col>
          <ion-label class="card__titulo">Ingredientes</ion-label>
          <ion-card class="card__marmita-atual">
            <ion-card-content>
              <ion-text class="card__mensagem ion-text-center" *ngIf="!this.marmita.length">
                <h2>Não há ingredientes selecionados</h2>
              </ion-text>
              <ion-accordion-group>
                <ng-container *ngFor="let ingrediente of this.marmita">
                  <ion-accordion value="{{ ingrediente.TIPO }}">
                    <ion-item slot="header" color="light">
                      <ion-text>
                        <b>{{ ingrediente.TIPO }}</b>
                      </ion-text>
                    </ion-item>
                    <div class="ion-padding" slot="content">
                      <ion-list>
                        <ng-container *ngFor="let variacao of ingrediente.VARIACOES ">
                          <ion-item>
                            <ion-row class="ion-justify-content-between">
                              <ion-col size="auto">
                                <ion-text color="primary">
                                  <b>Variação:</b>
                                </ion-text>
                              </ion-col>
                              <ion-col size="auto">
                                <ion-text>
                                  <b>{{ variacao.NOME }}</b>
                                </ion-text>
                              </ion-col>
                            </ion-row>
                          </ion-item>
                          <ion-item>
                            <ion-row class="ion-justify-content-between">
                              <ion-col size="auto">
                                <ion-text color="primary">
                                  <b>Descrição:</b>
                                </ion-text>
                              </ion-col>
                              <ion-col size="auto">
                                <ion-text>
                                  <b>{{ variacao.DESCRICAO }}</b>
                                </ion-text>
                              </ion-col>
                            </ion-row>
                          </ion-item>
                        </ng-container>
                      </ion-list>
                    </div>
                  </ion-accordion>
                </ng-container>
              </ion-accordion-group>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <!-- categorias de ingredientes para seleção -->
  <ion-row class="ion-justify-content-center todos-ingredientes">
    <ion-col size="11" sizeMd="9" class="container-cards-ingredientes">
      <swiper-container #swiper [pagination]="true" [loop]="true" [pagination]="{clickable: true, dynamicBullets: true}" [spaceBetween]="25" [breakpoints]="breakpoints">
          <ng-container *ngFor="let ingrediente of this.ingredientes; let id = index">
            <swiper-slide>
              <ion-card class="selecionar-ingredientes">
                <ion-card-header>
                  <ion-card-title class="ion-text-capitalize">{{ ingrediente.TIPO }}</ion-card-title>
                  <ion-card-subtitle>Selecione o tipo de {{ ingrediente.TIPO.toLocaleLowerCase()}} desejado</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                  <ion-list>
                    <ng-container *ngIf="!ingrediente.MULTISELECIONAVEL">
                      <ion-radio-group value="{{ ingrediente.TIPO }}" (ionChange)="this.selecionarIndividuais($event)">
                        <ion-item *ngFor="let variacao of this.ingrediente.VARIACOES; let idIngrediente = index">
                          <ion-label class="ion-text-capitalize">{{ variacao.NOME }}</ion-label>
                          <ion-radio slot="end" value="{{ variacao.COD_VARIACAO! }}"></ion-radio>
                        </ion-item>
                      </ion-radio-group>
                    </ng-container>
                    <ng-container *ngIf="ingrediente.MULTISELECIONAVEL">
                      <ion-item *ngFor="let variacao of this.ingrediente.VARIACOES; let idVariacao = index">
                        <ion-checkbox (ionChange)="selecionarMultiSelecionaveis(idIngrediente, idVariacao, $event)">{{ variacao.NOME }}</ion-checkbox>
                      </ion-item>
                    </ng-container>
                  </ion-list>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
          </ng-container>
        </swiper-container>

        <ion-button (click)="this.proximoCard()" class="trocar-card-ingrediente prox-card">
          <ion-icon name="triangle" class="prox-card__triangulo"></ion-icon>
        </ion-button>
        <ion-button (click)="this.voltarCard()" class="trocar-card-ingrediente volt-card">
          <ion-icon name="triangle" class="volt-card__triangulo"></ion-icon>
        </ion-button>
    </ion-col>  
  </ion-row>


  <ion-row class="ion-justify-content-center ion-align-items-center ion-padding-top">
    <ion-col size="11" sizeMd="9">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="12" sizeLg="6">
          <app-observacoes></app-observacoes>
        </ion-col>
        <ion-col size="12" sizeLg="4">
          <ion-row class="sessao-total ion-justify-content-between">
            <ion-text class="sessao-total__preco">
              <p>Preço</p>
            </ion-text>
            <ion-text class="sessao-total__info">
              <p>0.00</p>
            </ion-text>
          </ion-row>
          <ion-row class="sessao-total ion-justify-content-between">
            <ion-text class="sessao-total__preco">
              <p>Total</p>
            </ion-text>
            <ion-text class="sessao-total__info">
              <p>0.00</p>
            </ion-text>
          </ion-row>
          <ion-row class="sessao-total ion-justify-content-between">
            <app-contador
              [contador]="this.qtddMarmita"
              (change)="this.qtddMarmita = $event"
              [min]="0"></app-contador>
            <ion-button>
              Adicionar
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>