ion-content {
  min-height: 100vh;
}

.card {
  &__titulo {
    margin: 20px 0 20px 0;
    font-size: 1.6rem;
    color: var(--ion-color-dark);
  }

  &__image {
    margin-top: 28px;
  }
  &__marmita-atual {
    height: 400px;
    --background: #f5f5f5;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      background: #dcdcdc;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #565656;
      border-radius: 10px;
    }

    ion-accordion-group {
      margin: 20px 20px 0 20px;
    }

    ion-accordion {
      border-radius: 20px;
      margin-bottom: 5px;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    }

    ion-item {
      --ripple-color: #eaeaea;
    }

    ion-item::part(native) {
      background: white;
      color: var(--ion-color-primary-variation);
      font-weight: bold;
      text-transform: capitalize;
      border-radius: 20px;
      height: 50px;
    }
  }
}

swiper-container {
  height: 100%;
  border-radius: 5px;
  --swiper-pagination-color: var(--ion-color-primary);
  box-shadow: 0px 0px 15px 3px #00000033;


  .selecionar-ingredientes {
    --background: transparent;
    box-shadow: none;
    height: 47vh;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 3px;
      height: 45vh;
      background: var(--ion-color-primary);
    }

  }

}

app-card-ingrediente {
  width: 100%;
}

.trocar-card-ingrediente {
  position: absolute;
  height: 3.5rem;
  width: 3.5rem;
  top: 50%;
  transform: translate(-50%);
  --border-radius: 50%;
  z-index: 20;
}

.prox-card {
  right: -3.5rem;
}

.volt-card {
  left: 0rem;
}

.prox-card__triangulo {
  transform: rotate(90deg);
}

.volt-card__triangulo {
  transform: rotate(-90deg);
}

@media (max-width: 768px) {
  .trocar-card-ingrediente{
    display: none;
  }
}
