<ion-modal backdropDismiss="false" [isOpen]="this.isOpen">
  <ng-template>
    <ion-content>
      <ion-header>
        <ion-toolbar>
          <ion-title>
            <b>Alterar Senha</b>
          </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="this.fecharModal()"> a </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- <ion-col>
  <ion-input [readonly]="!this.estaEditando" minlength="8" ngModel errorText="Senhas não conferem invalida"
    name="confirmarPassword" label="Confirmar Senha" type="password"
    pattern="{{ this.editarForm.form.value.password }}"></ion-input>

  <ion-col>
                <ion-input [readonly]="!this.estaEditando" minlength="8" [ngModel]="this.cliente.password" name="password"
                  helperText=" " label="Senha" type="pasword"></ion-input>
                <ion-text class="erro" color="danger">{{ this.erros.password }}</ion-text>
              </ion-col>
</ion-col> -->


