<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-padding ion-justify-content-center ion-align-items-center">
    <ion-col size="11.9">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="6" sizeMd="auto">
          <ion-label id="titulo">Pedidos</ion-label>
        </ion-col>
        <ng-container *ngIf="this.pedidos.length">
          <ion-col size="6" sizeMd="auto">
            <ion-select interface="popover" (ionChange)="ordenar($event)" mode="ios" placeholder="Ordenar por">
              <ion-select-option value="status">Status</ion-select-option>
              <ion-select-option value="quantidade">Quantidade</ion-select-option>
              <ion-select-option value="data">Data</ion-select-option>
            </ion-select>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="!this.loading">
    <app-tabela-pedidos [pedidos]="this.pedidos"></app-tabela-pedidos>
  </ng-container>
  <app-loading [loading]="this.loading"></app-loading>
</ion-content>
