<ion-content [fullscreen]="true">
  <app-header></app-header>

  <div class="content">
    <ion-row>
      <ion-col size="auto" class="ion-align-items-center ">
        <ion-row class="sidebar">
          <ion-col>
            <ion-row class="sidebar__welcome ion-justify-content-center">
              <ion-row class="ion-justify-content-center ion-align-items-center">
                <img class="sidebar__welcome__avatar" src="../../../assets/img/header-icons/avatar_default.png" alt="avatar">
              </ion-row>
        
              <ion-row class="ion-justify-content-center">
                <h1 class="sidebar__welcome__title">Olá, Danoninho 👋</h1>
              </ion-row>
            </ion-row>

            <ion-row class="sidebar__options ion-align-item-center ion-justify-content-center">
              <ion-col size="12">
                  <ion-row class="item ion-align-items-center ion-justify-content-center">
                    <ion-label>Perfil</ion-label> 
                  </ion-row>
          
                  <ion-row class="item ion-align-items-center ion-justify-content-center">
                    <ion-label>Endereço</ion-label>
                  </ion-row>
          
                  <ion-row class="item ion-align-items-center ion-justify-content-center">
                    <ion-label>Cupons</ion-label>
                  </ion-row>
        
                  <ion-row class="item ion-align-items-center ion-justify-content-center">
                    <ion-label>Pagamentos</ion-label>
                  </ion-row>
        
                  <ion-row class="item ion-align-items-center ion-justify-content-center">
                    <ion-label>Dados</ion-label>
                  </ion-row>
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
              <ion-button class="sidebar__sair" fill="clear">
                <ion-label>Sair</ion-label>
                <img class="sidebar__sair__icon" src="../../../assets/img/perfil-icons/logout.svg" alt="sair">
              </ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    
      <ion-col class="pages">
        <app-endereco></app-endereco>
        <app-perfil-config></app-perfil-config>
        <app-cupons></app-cupons>
        <app-pagamentos></app-pagamentos>
        <app-dados></app-dados>
      </ion-col>
    </ion-row>
  </div>

  <app-footer></app-footer>
</ion-content>
