ion-col{
  padding: 0;
}

.content {
  background-color: #EAEAEA;
  position: relative;
  z-index: -1;
}

.sidebar {
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  width: 275px;
  height: 100vh;
  align-items: center;

  &__welcome {
    margin-bottom: 5vh;

    &__avatar {
      width: 175px;
      border-radius: 100%;
    }

    &__title {
      color: var(--ion-color-primary-variation);
      font-size: 1.6rem;
      text-align: center;
    }
  }

  &__options {
    width: 225px;
    margin: 0 auto;

      .item {
      margin-top: 10px;
      font-size: 1.2rem;
      color: var(--ion-color-dark);
      transition: 0.25s all;

      &::after {
        margin-top: 10px;
        content: " ";
        display: block;
        height: 2px;

        width: 100%;
        border-radius: 10px;
        background-color: #EAEAEA;
        transition: 0.25s ease-out;
      }

      &::before {
        content: " ";
        display: block;
        height: 21px;
        width: 21px;
        clip-path: ellipse(45% 30% at 50% 100%);

        position: absolute;
        margin-top: 11px;

        transform: scaleY(0);
        background-color: transparent;
        transition: transform 0.25s ease-out;
        transform-origin: 0% 0%;
      }

      &:hover {
        color: var(--ion-color-primary-variation);
        cursor: pointer;
        transition: 0.25s;

        &::after {
          background-color: var(--ion-color-primary-variation);
          transition: 0.25s ease-out;
        }
        &::before {
          background-color: var(--ion-color-primary-variation);
          transform: scaleY(1);
          transition: transform 0.25s ease-out;
          transform-origin: 0% 100%;
        }
      }
      }
  }

  &__back {
    margin-top: 15vh;
    color: var(--ion-color-primary-variation);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;

    &__icon {
      width: 25px;
      margin-left: 10px;
    }
  }
}

.pages {
  height: 100vh;
  overflow-y: scroll;
}
