.perfil {
  background: #EAEAEA;
}

.sidebar {
  ion-col {
    padding: 0;
  
  }

  height: 100vh;
  width: 300px;
  margin: auto;

  &__welcome {
    margin-bottom: 30px;
    &__avatar {
      width: 200px;
      border-radius: 100%;
    }

    &__title {
      color: var(--ion-color-primary-variation);
      font-size: 2rem;
    }
  }

    &__options {
    width: 225px;
    margin: 0 auto;
    
    .item {
      margin-top: 10px;
      font-size: 1.5rem;
      color: var(--ion-color-dark);
      transition: 0.25s all;

      &::after {
        margin-top: 10px;
        content: " ";
        display: block;
        height: 3px;

        width: 100%;
        border-radius: 10px;
        background-color: #EAEAEA;
        transition: 0.25s ease-out;
      }

      &::before {
        content: " ";
        display: block;
        height: 8px;
        width: 19px;

        position: absolute;
        margin-top: 27px;
        border-radius: 150px 150px 0 0;

        transform: scaleX(0);
        background-color: #fff;
        transition: transform 0.25s ease-out;
      }

      &:hover {
        color: var(--ion-color-primary-variation);
        cursor: pointer;
        transition: 0.25s;
        
        &::after {
          background-color: var(--ion-color-primary-variation);
          transition: 0.25s ease-out;
        }
        &::before {
          background-color: var(--ion-color-primary-variation);
          transform: scaleX(1);
        }
      }
    }  
  }
}