<ion-content [fullscreen]="true">
  <app-header></app-header>

  <div class="content">
    <ion-row>
      <ion-col size="3">
        <ion-row class="sidebar ion-justify-content-center">
          <ion-col>
            <ion-row class="sidebar__welcome ion-justify-content-center">
              <ion-row class="ion-justify-content-center ion-align-items-center">
                <img class="sidebar__welcome__avatar" src="../../../assets/imgs/default/avatar_default.svg" alt="avatar">
              </ion-row>
        
              <ion-row class="ion-justify-content-center">
                <h1 class="sidebar__welcome__title">Olá, Usuario X 👋</h1>
              </ion-row>
            </ion-row>
        
            <ion-row class="sidebar__options ion-align-item-center ion-justify-content-center">
              <ion-col size="12">
                  <ion-row class="item ion-align-items-center ion-justify-content-center">
                    <ion-label>Perfil</ion-label> 
                  </ion-row>
          
                  <ion-row class="item ion-align-items-center ion-justify-content-center">
                    <ion-label>Endereço</ion-label>
                  </ion-row>
          
                  <ion-row class="item ion-align-items-center ion-justify-content-center">
                    <ion-label>Cupons</ion-label>
                  </ion-row>
        
                  <ion-row class="item ion-align-items-center ion-justify-content-center">
                    <ion-label>Pagamentos</ion-label>
                  </ion-row>
        
                  <ion-row class="item ion-align-items-center ion-justify-content-center">
                    <ion-label>Dados</ion-label>
                  </ion-row>
              </ion-col>
            </ion-row>

            <ion-row class="sidebar__sair">
                <ion-label>Sair</ion-label>
                <img class="sidebar__options__sair__icon " src="../../../assets/imgs/perfil-icons/logout.svg" alt="sair">
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    
      <ion-col>
        <ion-row class="pages">
    
        </ion-row>
      </ion-col>
    </ion-row>
  </div>

  <app-footer></app-footer>
</ion-content>
