<ion-content [fullscreen]="true">
  <div class="content" *ngIf="!this.loading">
    <ion-row>
      <ion-col size="auto" class="ion-align-items-center ">
        <ion-row class="sidebar">
          <ion-col>
            <ng-container *ngIf="!this.loading">
              <ion-row class="sidebar__welcome ion-justify-content-center">
                <ion-row class="ion-justify-content-center ion-align-items-center">
                  <img class="sidebar__welcome__avatar" src="../../../assets/imgs/default/avatar_default.svg"
                    alt="avatar">
                </ion-row>

                <ion-row class="ion-justify-content-center">
                  <h1 class="sidebar__welcome__title">Olá, {{ this.cliente.nome }} 👋</h1>
                </ion-row>
              </ion-row>

              <ion-row class="sidebar__options ion-align-item-center ion-justify-content-center">
                <ion-col size="12">
                  <ion-row (click)="direcionar('#perfil-config')" class="item ion-align-items-center ion-justify-content-center">
                    <ion-label>Perfil</ion-label>
                  </ion-row>

                  <ion-row (click)="direcionar('#endereco')" class="item ion-align-items-center ion-justify-content-center">
                    <ion-label>Endereço</ion-label>
                  </ion-row>

                </ion-col>
              </ion-row>

              <ion-row class="ion-justify-content-center">
                <ion-button [routerLink]="['/']" class="sidebar__back" fill="clear">
                  <ion-label>Voltar</ion-label>
                  <img class="sidebar__back__icon" src="../../../assets/imgs/perfil-icons/back.svg" alt="voltar">
                </ion-button>
              </ion-row>
            </ng-container>
            <app-loading [loading]="this.loading"></app-loading>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col class="pages">
        <ng-container *ngIf="!this.loading">
          <app-perfil-config id="perfil-config" [cliente]="this.cliente"></app-perfil-config>
          <app-endereco id="endereco" [enderecos]="this.enderecos" [cliente]="this.cliente"></app-endereco>
        </ng-container>
        <app-loading
          [loading]="this.loading"
        ></app-loading>
      </ion-col>
    </ion-row>
  </div>
  <app-loading [loading]="this.loading"></app-loading>
</ion-content>
