// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #990000;
  --ion-color-primary-rgb: 153, 0, 0;
  --ion-color-primary-contrast: #d9d9d9;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #870000;
  --ion-color-primary-tint: #a31a1a;
  --ion-color-primary-variation: #B80000;


  --ion-color-secondary: #a10023;
  --ion-color-secondary-rgb: 161, 0, 35;
  --ion-color-secondary-contrast: #d9d9d9;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #8e001f;
  --ion-color-secondary-tint: #aa1a39;

  --ion-color-tertiary: #ff6e61;
  --ion-color-tertiary-rgb: 255, 110, 97;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e06155;
  --ion-color-tertiary-tint: #ff7d71;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #d9d9d9;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #d9d9d9;
  --ion-color-light-rgb: 217, 217, 217;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #bfbfbf;
  --ion-color-light-tint: #dddddd;

  --ion-color-dark: #4f0000;
  --ion-color-black: #000000;
}