<ion-row [class.cupom__desativado]="!status(cupom!.status)" class="cupom ion-align-items-center">
  <ion-col size="12">
    <ion-row class="cupom__infos">
      <ion-col size="12">
        <ion-text color="light" >
          <p class="cupom__nome ion-no-margin">
            {{ this.cupom!.nome.toUpperCase() }}
          </p>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-row>
          <ion-text color="light" class="cupom__info">
            Até: {{ this.cupom!.data_validade | date: 'dd/MM/yyyy' }}
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-text color="light" class="cupom__info">
            Desconto: {{ (this.cupom!.porcentagem_desconto!).toFixed(2).toString().replace('.', ',') }}%
          </ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
