<ion-row  [class.desativado]="!this.cupom!.status" class="img-cupom">
  <ion-col size="12">
    <ion-row class="ion-justify-content-end">
      <ion-col size="11" class="">
        <ion-row class="informacoes">
          <ion-col size="8">
            <ion-label>{{ this.cupom!.nome }}</ion-label>
          </ion-col>
          <ion-col size="8">
            <ion-row>
              <ion-text>Restam: {{ this.cupom!.quantidade}}</ion-text>
            </ion-row>
            <ion-row>
              <ion-text>Validade: {{ this.cupom!.data_validade }}</ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
