.img-cupom{
    max-height: 180px;
    background-image: url('../../../../assets/imgs/cupons/cupom.png');
    background-size: contain;
    background-repeat: no-repeat;
   
    .informacoes{
        height: 150px;
        color: #fff;
    }

    ion-label{
        font-size: 1.3rem;
    }
    ion-text{
        font-size: 0.9rem;
    }
}