.img-cupom{
    background-image: url('../../../../assets/imgs/cupons/cupom.png');
    background-size: cover;
    background-repeat: no-repeat;
   
    height: 170px;
    width: 260px;
    .informacoes{
        color: #fff;
        width: max-content;
        margin-left: 60px;
    }

    ion-label{
        font-size: 1.3rem;
    }
    ion-text{
        font-size: 0.9rem;
        width: 160px;
    }
}

.img-cupom.desativado{
    opacity: 0.5;
}