<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-padding ion-justify-content-center ion-align-items-center">
    <ion-col size="11.9">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="12" sizeMd="auto">
          <ion-label id="titulo">Produtos</ion-label>
        </ion-col>
        <ion-col size="12" sizeMd="auto">
          <ion-row class="ion-justify-between ion-align-items-center">
            <ion-col size="11">
              <ion-list>
                <ion-item>
                  <ion-select (ionChange)="filtrarSelecao($event)" interface="popover" mode="ios" placeholder="Select"
                    [multiple]="true" [(ngModel)]="selectedOptions">
                    <ng-container *ngFor="let produtoCategoria of this.produtosOrganizados">
                      <ion-select-option value="{{this.produtoCategoria[0]}}">{{this.produtoCategoria[0]}}</ion-select-option>
                    </ng-container>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>

            <ion-col (click)="formularioPopover($event)" size="1">
              <ion-icon name="add-outline"></ion-icon>
            </ion-col>


            <ion-popover #popover [isOpen]="openPopover" (didDismiss)="openPopover = false" side="bottom"
              alignment="start" mode="ios">
              <ng-template ngIf="{{popover}}">
                <ion-content class="ion-padding">
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="10"><ion-button expand="block"
                        [routerLink]="['/criacao/comidas']">Comidas</ion-button></ion-col>
                    <ion-col size="10"><ion-button expand="block"
                        [routerLink]="['/criacao/bebidas']">Bebidas</ion-button></ion-col>
                    <ion-col size="10"><ion-button expand="block"
                        [routerLink]="['/criacao-combos']">Combos</ion-button></ion-col>
                  </ion-row>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="11">

      <ng-container *ngIf="!this.loading">
        <ion-row class="ion-justify-content-center">
          <ion-col size="11.9">
            <ion-accordion-group [multiple]="true" [value]="['Marmitas']">
              <ng-container *ngFor="let produtoCategoria of this.produtosOrganizados">
                <app-accordion (clickCard)="this.selecionarProduto($event)" *ngIf="this.filtrar[this.produtoCategoria[0]]" [tituloSessao]="this.produtoCategoria[0]"
                  [produtos]="this.produtoCategoria[1]"></app-accordion>
              </ng-container>
            </ion-accordion-group>
          </ion-col>
        </ion-row>
      </ng-container>
      <app-loading [loading]="this.loading"></app-loading>
    </ion-col>

  </ion-row>
  <app-modal-produto [isOpen]="this.isOpen" (fechar)="this.isOpen = false"
    [produto]="this.produtoSelecionado"></app-modal-produto>
</ion-content>
