<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-padding ion-justify-content-center ion-align-items-center">
    <ion-col size="11.9">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="12" sizeMd="auto">
          <ion-label id="titulo">Produtos</ion-label>
        </ion-col>
        <ion-col size="12" sizeMd="auto">
          <ion-row class="ion-justify-between ion-align-items-center">
            <ion-col size="11">
              <ion-list>
                <ion-item>
                  <ion-select (ionChange)="filtrarSelecao($event)" interface="popover" mode="ios" placeholder="Select"
                    [multiple]="true" [(ngModel)]="selectedOptions">
                    <ion-select-option value="marmita" Default="true">Marmitas</ion-select-option>
                    <ion-select-option value="bebida">Bebidas</ion-select-option>
                    <ion-select-option value="sobremesa">Sobremesas</ion-select-option>
                    <ion-select-option value="combo">Combo</ion-select-option>
                    <ion-select-option value="acompanhamento">Acompanhamento</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>

            <ion-col id="click-trigger" (click)="formularioPopover($event)" size="1">
              <ion-icon name="add-outline"></ion-icon>
            </ion-col>


            <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" side="bottom" alignment="start"
              mode="ios">
              <ng-template ngIf="{{popover}}">
                <ion-content class="ion-padding">
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="10"><ion-button expand="block"
                        [routerLink]="['/criacao-comidas']">Comidas</ion-button></ion-col>
                    <ion-col size="10"><ion-button expand="block"
                        [routerLink]="['/criacao-bebidas']">Bebidas</ion-button></ion-col>
                    <ion-col size="10"><ion-button expand="block"
                        [routerLink]="['/criacao-combos']">Combos</ion-button></ion-col>
                  </ion-row>
                </ion-content>
              </ng-template>
            </ion-popover>



          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="11">
      <ng-container *ngIf="!this.loading">
        <ion-row class="ion-justify-content-center">
          <ion-col size="11.9">
            <ion-accordion-group [multiple]="true" [value]="['Marmitas']">
              <app-accordion *ngIf="this.filtrar['marmita']" [tituloSessao]="'Marmitas'"
                [produtos]="this.marmitas"></app-accordion>
              <app-accordion *ngIf="this.filtrar['bebida']" [tituloSessao]="'Bebidas'"
                [produtos]="this.bebidas"></app-accordion>
              <app-accordion *ngIf="this.filtrar['sobremesa']" [tituloSessao]="'Sobremesas'"
                [produtos]="this.sobremesas"></app-accordion>

              <app-accordion *ngIf="this.filtrar['combo']" [tituloSessao]="'Combos'"
                [produtos]="this.combos"></app-accordion>
              <app-accordion *ngIf="this.filtrar['acompanhamento']" [tituloSessao]="'Acompanhamentos'"
                [produtos]="this.acompanhamentos"></app-accordion>
            </ion-accordion-group>
          </ion-col>
        </ion-row>
      </ng-container>
      <app-loading [loading]="this.loading"></app-loading>
    </ion-col>
  </ion-row>
</ion-content>