ion-accordion-group {
    width: 100%;
}

div[slot='content'] {
    background: var(--ion-color-tertiary);
}

#titulo {
    font-size: 1.5rem;
    font-weight: 500;
}

ion-icon {
    &:hover {
        cursor: pointer;
    }

    font-size: 2rem;
    font-weight: 600;
}

form{
    gap: 20px;
    ion-row{
        margin: 10px 0;
    }
    ion-textarea{
        height: 100px;
    }
}
