ion-accordion-group {
    width: 100%;
}

div[slot='content'] {
    background: var(--ion-color-tertiary);
}

#titulo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--ion-color-primary);
  }

ion-icon {
    &:hover {
        cursor: pointer;
    }

    font-size: 2rem;
    font-weight: 600;
}


