<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center ion-align-items-center main">
    <ion-col size="10" sizeMd="8" sizeLg="5">
      <ion-col size="12" sizeMd="4">
        <ion-row class="ion-justify-content-center ion-text-md-ion-justify-content-start">
          <h1 class="cadastro__logo"><a class="cadastro__link" routerLink="/">Divina Refeição</a></h1>
        </ion-row>
      </ion-col>
      <ion-row>
        <ion-col>
          <form #cadastroForm="ngForm" ngSubmit="this.cadastrar()">
            <ion-list>
              <ion-list>
              <ion-item>
                  <ion-input NgModel required name="nome" label="Nome" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input NgModel required name="email" label="Email" type="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input NgModel required name="telefone" label="Telefone" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input NgModel required name="password" label="Senha" type="password"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input NgModel required label="Confirmar Senha" type="password"></ion-input>
                </ion-item>
              </ion-list>
            </ion-list>
            <ion-text> 
              <p class="cadastro__esqueceu-senha">Já possui uma conta? <a routerLink="/login">clique aqui</a></p>
            </ion-text>
            <ion-row class="ion-justify-content-center ion-padding">
              <ion-col size="auto">
                <ion-button type="submit" class="cadastro__btn-entrar">Cadastrar</ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto">
          <p class="cadastro__entrar-com">Entrar com</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="cadastro_wrapper-redes">
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">
              <ion-button class="btn-redes" color="tertiary">
                <ion-icon name="logo-google" size="large"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="auto">
              <ion-button class="btn-redes" color="tertiary">
                <ion-icon name="logo-facebook" size="large"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="auto">
              <ion-button class="btn-redes" color="tertiary">
                <ion-icon name="logo-twitter" size="large"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>