<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center ion-align-items-center main">
    <ion-col size="10" sizeMd="8" sizeLg="5">
      <ion-col size="12" sizeMd="4">
        <ion-row class="ion-justify-content-center ion-text-md-ion-justify-content-start">
          <h1 class="cadastro__logo"><a class="cadastro__link" routerLink="/">Divina Refeição</a></h1>
        </ion-row>
      </ion-col>
      <ion-row>
        <ion-col>
          <form #cadastroForm="ngForm" (ngSubmit)="this.cadastrar()">

            <ion-input ngModel helperText="{{ this.erros.nome}}" name="nome" label="Nome"
              type="text" required></ion-input>

            <ion-input ngModel helperText="{{ this.erros.email }}" name="email"
            label="Email" type="email" required></ion-input>

            <ion-input ngModel helperText="{{ this.erros.telefone }}" name="telefone"
              label="Telefone" type="text" required></ion-input>

            <ion-input ngModel helperText="{{ this.erros.password }}" name="password"
              label="Senha" type="password" required></ion-input>

            <ion-input ngModel errorText="Senhas não conferem invalida"
              name="confirmarPassword" label="Confirmar Senha" type="password" required  pattern="{{ this.cadastroForm.form.value.password }}"></ion-input>

            <ion-text>
              <p class="cadastro__esqueceu-senha">Já possui uma conta? <a routerLink="/login">clique aqui</a></p>
            </ion-text>
            <ion-row class="ion-justify-content-center ion-padding">
              <ion-col size="auto">
                <ion-button type="submit" class="cadastro__btn-entrar">Cadastrar</ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto">
          <p class="cadastro__entrar-com">Entrar com</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="cadastro_wrapper-redes">
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">
              <ion-button class="btn-redes" color="tertiary">
                <ion-icon name="logo-google" size="large"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="auto">
              <ion-button class="btn-redes" color="tertiary">
                <ion-icon name="logo-facebook" size="large"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="auto">
              <ion-button class="btn-redes" color="tertiary">
                <ion-icon name="logo-twitter" size="large"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>