<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center ion-align-items-center main" >
    <ion-col size="10" sizeMd="8" sizeLg="5">
      <ion-col size="12" sizeMd="4">
        <ion-row class="ion-justify-content-center ion-text-md-ion-justify-content-start">
          <h1 class="login__logo">Divina Refeição</h1>
        </ion-row>
      </ion-col>
      <ion-row>
        <ion-col>
          <form action="">
            <ion-list>
              <ion-list>
                <ion-item>
                  <ion-input label="Nome" type="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Sobrenome" type="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Telefone" type="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="E-mail" type="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Senha" type="password"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Confirmar Senha" type="password"></ion-input>
                </ion-item>
              </ion-list>
            </ion-list>
            <ion-text class="ion-padding">
              <p class="login__esqueceu-senha">Já possui uma conta? <a routerLink="/login">clique aqui</a></p>
            </ion-text>
            <ion-row class="ion-justify-content-center ion-padding">
              <ion-col size="auto">
                <ion-button class="login__btn-entrar">Cadastrar</ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto">
          <p class="login__entrar-com">Entrar com</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="login_wrapper-redes">
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-col size="auto">
              <ion-button class="btn-redes" color="tertiary">
                <ion-icon name="logo-google" size="large"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="auto">
              <ion-button class="btn-redes" color="tertiary">
                <ion-icon name="logo-facebook" size="large"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="auto">
              <ion-button class="btn-redes" color="tertiary">
                <ion-icon name="logo-twitter" size="large"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>