<ion-accordion value="{{tituloSessao}}">
  <ion-item slot="header" color="secondary">
    <ion-label>{{ this.tituloSessao }}</ion-label>
  </ion-item>
  <div slot="content">
    <!-- <app-cards (click)="this.clickCard.emit(produto)" *ngFor="let produto of produtos" [produto]="produto"></app-cards> -->

    <ng-container *ngFor="let produto of this.produtos">

      <ion-card (click)="this.clickCard.emit(produto)">
        <ion-card-content>
          <ion-row>
            <ion-col>
              <ion-img src="{{ produto.imagem }}"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>
                {{ produto.nome || produto.tipo }}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

    </ng-container>

  </div>
</ion-accordion>