app-cards {
    display: flex;
}

div[slot="content"] {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media(max-width: 1024px) {
    div[slot="content"] {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 800px) {
    div[slot="content"] {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 425px) {
    div[slot="content"] {
        grid-template-columns: repeat(1, 1fr);
    }
}