<ion-accordion value="first">
  <ion-item slot="header" color="secondary">
    <ion-label>Marmitas</ion-label>
  </ion-item>
  <div class="ion-padding" slot="content">
    <ion-row>
      <ion-col size="3"><app-cards></app-cards></ion-col>
      <ion-col size="3"><app-cards></app-cards></ion-col>
      <ion-col size="3"><app-cards></app-cards></ion-col>
      <ion-col size="3"><app-cards></app-cards></ion-col>
      <ion-col size="3"><app-cards></app-cards></ion-col>
    </ion-row>
  </div>
</ion-accordion>