form {
    ion-row {
      margin: 10px 0;
    }
  
    ion-textarea {
      height: 100px;
    }
  }
  
  h1 {
    color: #909090;
    font-size: 3rem;
  }
  
  ion-radio-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  
  .input-container {
    min-height: 80px;
  
    .erro {
      font-size: .8em;
    }
  }

  img{
    border-radius: 20px;
  }