<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="9">
      <ion-row>
        <ion-col>
          <h1>Política de Privacidade Divina Refeição</h1>
          <ion-text>
            <b>
              Atualizado em 31 de Agosto de 2023
            </b>

            <p>
              Seja bem-vindo à Política de Privacidade do nosso aplicativo de entrega de marmitas, o seu refúgio
              gastronômico para satisfazer os paladares mais exigentes. Reconhecemos que a privacidade dos nossos
              usuários é de extrema importância, e é com grande respeito por essa confiança que delineamos aqui como
              coletamos, usamos, compartilhamos e protegemos as informações que você nos confia. Nossa dedicação à
              transparência e segurança orienta cada aspecto desta política, assegurando que você se sinta confiante ao
              escolher nossos serviços.
            </p>

            <p>
              Por favor, leia esta Política de Privacidade cuidadosamente para entender nossas práticas de tratamento
              dos seus Dados Pessoais.
            </p>
            <p>
              Esta Política se aplica a indivíduos que interagem com serviços de entrega da Divina Refeição.
              Esta Política explica como seus Dados Pessoais são coletados e usados por nós. Ela também informa como
              Você pode acessar e atualizar seus Dados
              Pessoais, e exercer os seus direitos relativos a eles.
            </p>
            <p>
              Esta Política abrange nossas atividades de coleta de dados online e offline, abrangendo os Dados Pessoais
              que Nós coletamos por meio de nossos vários canais, incluindo websites, aplicativos, redes sociais de
              Terceiros, Serviço de Atendimento ao Consumidor, pontos de venda e eventos. Por favor, note que Nós
              poderemos agregar Dados Pessoais de diferentes fontes (website, evento offline). Para isso, Nós fazemos o
              cruzamento dos Dados Pessoais que foram originalmente coletados por diferentes entidades Nestlé ou
              parceiros
              Nestlé.
            </p>
            <p>
              Se Você não nos fornecer os Dados Pessoais necessários, Nós talvez não possamos fornecer a Você
              nossos produtos e/ou serviços.
            </p>
            <p>
              Esta Política pode ser alterada periodicamente, conforme informado ao final do documento.
            </p>
            <p>
              Esta Política fornece importantes informações sobre como Tratamos os seus Dados Pessoais, tais quais
            </p>

            <ul>
              <li class="ion-margin">
                <a href="#informacoes-coletadas">Informações Coletadas</a>
              </li>
              <li class="ion-margin">
                <a href="#uso-informacoes">Uso das Informações</a>
              </li>
              <li class="ion-margin">
                <a href="#compartilhamento-informacoes">Compartilhamento de Informações</a>
              </li>
              <li class="ion-margin">
                <a href="#seguranca-dados">Segurança de Dados</a>
              </li>
              <li class="ion-margin">
                <a href="#cookies">Cookies e Rastreamento</a>
              </li>
              <li class="ion-margin">
                <a href="#menor-idade">Menores de Idade</a>
              </li>
              <li class="ion-margin">
                <a href="#alteracoes">Alterações na Política de Privacidade</a>
              </li>
            </ul>

            <ol>
              <li>
                <h3 id="informacoes-coletadas">Informações Coletadas</h3>
                <p>
                  Entendemos que cada pedido que você faz através do nosso aplicativo é uma escolha pessoal e única.
                  Para tornar sua experiência tão deliciosa quanto possível, coletamos informações essenciais, incluindo
                  seu nome, endereço, número de telefone e endereço de e-mail. Esses dados nos permitem processar seus
                  pedidos de forma eficaz, garantindo que suas marmitas sejam preparadas e entregues de acordo com suas
                  preferências. Além disso, à medida que você explora nosso cardápio diversificado, podemos capturar
                  informações sobre suas preferências culinárias para personalizar sugestões futuras, tornando sua
                  jornada gastronômica ainda mais exclusiva.
                </p>
              </li>

              <li>
                <h3 id="uso-informacoes">Uso das Informações</h3>
                <p>
                  Cada detalhe coletado é usado com a missão de aprimorar sua experiência em nosso aplicativo. As
                  informações pessoais são empregadas para processar seus pedidos com precisão e garantir que suas
                  refeições cheguem pontualmente e conforme suas instruções. Além disso, ao analisar dados agregados e
                  anônimos, buscamos entender tendências de consumo e preferências, permitindo-nos aperfeiçoar nosso
                  cardápio, oferecer promoções direcionadas e surpreendê-lo positivamente. Se optar por receber
                  atualizações, estaremos em contato para mantê-lo informado sobre o status dos seus pedidos, ofertas
                  especiais e as mais recentes adições ao nosso menu.
                </p>
              </li>

              <li>
                <h3 id="compartilhamento-informacoes">Compartilhamento de Informações</h3>
                <p>
                  Nós valorizamos sua privacidade tanto quanto você. Suas informações pessoais não serão compartilhadas
                  com terceiros para fins de marketing sem seu consentimento explícito. No entanto, para garantir que
                  suas marmitas sejam entregues com sucesso, compartilharemos informações essenciais com nossos
                  parceiros de entrega, permitindo que eles atendam às suas demandas da melhor forma possível. Em
                  situações excepcionais, podemos ser obrigados a compartilhar informações conforme exigido por lei, mas
                  ressaltamos que fazemos isso com o maior cuidado para proteger seus direitos e interesses.
                </p>
              </li>

              <li>
                <h3 id="seguranca-dados">Segurança de Dados</h3>
                <p>
                  Assim como você se preocupa com os ingredientes de suas refeições, nós nos preocupamos com a segurança
                  dos seus dados. Utilizamos medidas de segurança avançadas para proteger suas informações pessoais
                  contra acessos não autorizados, alterações ou divulgações indevidas. Nossos protocolos de criptografia
                  e práticas de segurança padrão da indústria garantem que suas informações permaneçam confidenciais e
                  seguras.
                </p>
              </li>

              <li>
                <h3 id="cookies">Cookies e Rastreamento</h3>
                <p>
                  Nossa busca por personalização se estende à sua experiência online. Utilizamos cookies e tecnologias
                  similares para entender como você interage com nosso aplicativo, permitindo-nos aprimorar a navegação,
                  entender suas preferências e otimizar o layout. Você tem o controle total sobre suas preferências de
                  cookies e pode ajustá-las nas configurações do aplicativo ou do seu dispositivo.
                </p>
              </li>

              <li>
                <h3 id="menor-idade">Menores de Idade</h3>
                <p>
                  Nossa plataforma não é direcionada a menores de idade e não coletamos conscientemente informações
                  pessoais deles. Caso um menor tenha fornecido informações sem o consentimento dos pais ou
                  responsáveis, entre em contato conosco imediatamente para que possamos resolver a situação de forma
                  adequada.
                </p>
              </li>

              <li>
                <h3 id="alteracoes">Alterações na Política de Privacidade</h3>
                <p>
                  Esta política pode ser atualizada periodicamente para refletir mudanças em nossas práticas de
                  privacidade. Recomendamos que você visite esta página regularmente para se manter informado sobre as
                  medidas que adotamos para proteger suas informações.
                </p>
                <p>
                  Estamos gratos por escolher nosso aplicativo de entrega de marmitas para saciar suas necessidades
                  gastronômicas. Seu apoio é o tempero que nos motiva a servir não apenas pratos saborosos, mas também
                  uma experiência segura e satisfatória. Se tiver perguntas ou preocupações sobre esta política, ou
                  sobre o tratamento das suas informações, entre em contato conosco pelos canais de comunicação
                  disponibilizados no aplicativo.
                </p>
              </li>
            </ol>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
