<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <ion-row class="ion-justify-content-center">
        <h1>CRIAR VARIAÇÃO</h1>
      </ion-row>
      <form #cadastroForm="ngForm" (ngSubmit)="this.cadastrar()">
        <ion-row>
          <ion-col size="12">
            <ion-select mode="md" ngModel name="cod_grupo_variacoes" aria-label="Variacao" label="Selecione o produto"
            label-placement="floating" fill="outline" placeholder="Selecione o grupo variação">
              <ng-container *ngFor=" let variacao of variacoes">
                <ion-select-option value="{{variacao.id}}">{{ variacao.tipo }}</ion-select-option>
              </ng-container>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-row>
              <ion-input ngModel name="nome" label="nome" label-placement="floating" fill="outline" placeholder="Digite o nome"></ion-input>
            </ion-row>
            <ion-row>
              <ion-input ngModel name="valor" label="Valor" label-placement="floating" fill="outline"
                placeholder="Digite o valor" ></ion-input>
            </ion-row>
            <!-- <ion-row>
              <ion-input ngModel name="imagem" label="Imagem" label-placement="floating" fill="outline"
                placeholder="Escolhe a imagem do produto" type="file"></ion-input>
            </ion-row> -->
            <ion-row>
              <ion-textarea ngModel name="descricao" label="Descrição" label-placement="floating" fill="outline"
                placeholder="Insira uma descrição"></ion-textarea>
            </ion-row>
            
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size=6>
            <ion-button size="large" type="submit" [routerLink]="['/produtos']" routerDirection="back" expand="block">Voltar</ion-button>
          </ion-col>
          <ion-col size=6>
            <ion-button size="large" type="submit" expand="block">Nova Variação</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
