.header {
  ion-col {
    padding-inline: 0;
  }

  background-color: var(--ion-color-primary);
  padding: 16px 20px;

  &__logo {
    width: 220px;
    cursor: pointer;
  }

  &__menu {
    height: 100%;
    color: var(--ion-color-light);
    font-size: 1.4rem;
  }

  &__bookmaker {
    font-size: 1.2rem;
    color: #ffff;

    img {
      margin-right: 10px;
      height: 30px;
    }

    .item {
      &:nth-child(-n+2) {
        margin-right: 20px;
      }

      &::after {
        content: " ";
        display: block;

        height: 3px;
        width: 100%;
        border-radius: 10px;
        background-color: #ffff;

        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.25s ease-out;
      }

      &:hover {
        cursor: pointer;

        &::after {
          margin-top: 10px;
          transform: scaleX(1);
          transform-origin: center;
        }
      }
    }
  }

  &__btn-acesso {
    height: 100%;

    &__entrar {
      width: 60px;
      margin-inline: 0 7px;
      --color-hover: #eaeaea;
      --color-activated: #eaeaea;
      --color-focused: #eaeaea;
      --color: #fff;
    }

    &__cadastrar {
      width: 145px;
      --background: #ffff;
      --background-hover: var(--ion-color-primary);
      --background-activated: var(--ion-color-primary);
      --background-focused: var(--ion-color-primary);
      --color: var(--ion-color-primary);
    }
  }

  &__btn-menu {
    display: none;
  }



  .ativar-popover ion-row:nth-child(1) {
    &:hover {
      cursor: pointer;
    }

    gap: 20px;
  }

  img.ativar-popover {
    height: 40px;
  }

  @media(max-width:975px) {
    &__menu {
      font-size: 1.2rem;
    }

    &__logo {
      width: 200px;
    }

    &__bookmaker {
      font-size: 1rem;
    }

    &__btn-acesso {
      &__entrar {
        font-size: 0.6rem;
        width: 45px;
        margin-right: 3px;
      }

      &__cadastrar {
        font-size: 0.6rem;
        width: 117px;
      }
    }
  }

  @media(max-width:768px) {
    &__logo {
      width: 182px;
    }

    &__bookmaker {
      display: none;
    }

    &__btn-menu {
      display: block;
    }

    &__bnt-avatar,
    &__btn-acesso {
      display: none;
    }
  }
}

ion-popover {
  --width: 250px;
  .saudacao {
    font-size: 1.2rem;
    color: var(--ion-color-primary-variation);
    margin-bottom: 20px;
  }
  ion-label {
    cursor: pointer;
  }
}

.menu {
  ion-col {
    padding: 0;
  }

  position: fixed;
  --background: #ffff;
  --width: 100%;
  flex-direction: column;

  &__header {
    padding: 16px 20px;
    height: 92.08px;

    &__logo {
      font-size: 2rem;
      font-family: 'mrDafoe';
      color: var(--ion-color-primary-variation);
      cursor: pointer;
    }

    &__btn-close {
      width: 24px;
      cursor: pointer;
    }
  }

  &__divisoria {
    background-color: var(--ion-color-primary-variation);

    height: 3px;
    width: 100%;
    border-radius: 30px;
  }

  &__bookmaker {
    font-size: 1.1rem;
    font-weight: bold;

    color: var(--ion-color-primary-variation);

    width: 200px;
    margin: 0 auto;
    padding-block: 50px;

    .item {
      padding-block: 7px;

      &::after {
        content: " ";
        display: block;

        height: 3px;
        width: 100%;
        margin-top: 10px;

        border-radius: 10px;
        background-color: var(--ion-color-primary-variation);

        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.1s ease-out;
      }

      &:active {
        cursor: pointer;

        &::after {
          transform: scaleX(1);
          transform-origin: center;
        }
      }

      .icon {
        height: 40px;
      }
    }

  }

  &__btn-acesso {
    height: 100%;

    &__entrar {
      width: 65px;
      --background-hover: var(--ion-color-primary);
      --background-activated: var(--ion-color-primary);
      --background-focused: var(--ion-color-primary);
      --color: var(--ion-color-primary-variation);
    }

    &__cadastrar {
      width: 155px;
      --background: var(--ion-color-primary-variation);
      --background-hover: var(--ion-color-primary);
      --background-activated: var(--ion-color-primary);
      --background-focused: var(--ion-color-primary);
      --color: #ffff;
    }
  }

  &__perfil {
    &__avatar {
      width: 160px;
      border-radius: 100%;
      margin-top: 30px;
    }

    &__title {
      font-size: 1.6rem;
      color: var(--ion-color-dark);
      font-weight: 500;
      margin-inline: 10px;
    }

    &__btn-config {
      font-size: 1rem;
      font-weight: bold;
      text-transform: capitalize;

      height: 35px;
      width: 160px;

      --border-radius: 10px;
      --background: var(--ion-color-primary-variation);
      --background-hover: var(--ion-color-primary);
      --background-activated: var(--ion-color-primary);
      --background-focused: var(--ion-color-primary);
      --color: #ffff;

      &__icon {
        margin-left: 50px;
        height: 20px;
      }
    }
  }
}
