<ion-row class="header ion-justify-content-around ion-padding">
  <ion-img class="header__logo" src="../../../assets/img/Logo.png" alt="logo"></ion-img>

  <ion-col size="3">
    <ion-row class="header__menu ion-align-items-center ion-justify-content-around">
      <ion-label>Home</ion-label>
      <ion-label>
        <a routerLink="montagem-marmita">Montagem</a>
      </ion-label>
      <ion-label>Contato</ion-label>
    </ion-row>
  </ion-col>

  <ion-col size="3">
    <ion-row class="btn-acesso ion-align-items-center ion-justify-content-center">
      <ion-button class="btn-acesso__entrar" [routerLink]="['/login']" fill="clear">Entrar</ion-button>
      <ion-button class="btn-acesso__cadastrar" [routerLink]="['/cadastro']" fill="clear">Cadastrar</ion-button>
    </ion-row>
  </ion-col>
</ion-row>
