<!-- Menu / SideBar -->
<ion-menu side="end" class="menu ion-menu" contentId="main-content">
  <ion-row>
    <ion-col size="12">
      <ion-row class="menu__header ion-align-items-center ion-justify-content-between">
        <ion-col size="10">
          <ion-row class=" menu__header__logo-container ion-align-items-center ion-no-padding">
            <ion-label [routerLink]="['/']" class="menu__header__logo">Divina Refeição</ion-label>
          </ion-row>
        </ion-col>
      
        <ion-col size="2">
          <ion-row class="ion-align-items-center ion-justify-content-end">
            <ion-menu-toggle>
              <ion-img class="menu__header__btn-close" src="../../../assets/img/header-icons/close.png" alt="close"></ion-img> 
            </ion-menu-toggle>
          </ion-row>
        </ion-col>
      </ion-row>
    
      <ion-row class="ion-justify-content-center">
        <ion-col size="11">
          <ion-row class="menu__divisoria"></ion-row>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="this.login" class="menu__perfil ion-justify-content-center">
        <ion-col size="12">

          <ion-row class="ion-align-items-center ion-justify-content-center">
            <img class="menu__perfil__avatar" src="../../../assets/img/header-icons/avatar_default.png" alt="avatar">
          </ion-row>

          <ion-row class="ion-align-items-center ion-justify-content-center">
            <h1 class="menu__perfil__title">Danoninho</h1>
          </ion-row>

          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-button class="menu__perfil__btn-config" [routerLink]="['/perfil']">
              Perfil
              <img class="menu__perfil__btn-config__icon" src="../../../assets/img/header-icons/btn-perfil.svg" alt="perfil"></ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    
      <ion-row [routerLink]="['/home']" class="menu__bookmaker ion-align-items-center ion-justify-content-center">
        <ion-col size="12">
          <ion-row class="item ion-align-items-center ion-justify-content-between">
            <ion-label>Home</ion-label> 
            <img class="icon" src="../../../../assets/img/header-icons/home_red.png" alt="carrinho">
          </ion-row>
  
          <ion-row [routerLink]="['/montagem-marmita']" class="item ion-align-items-center ion-justify-content-between">
            <ion-label>Montagem</ion-label>
            <img class="icon" src="../../../../assets/img/header-icons/motagem_red_bold.png" alt="carrinho">
          </ion-row>
  
          <ion-row [routerLink]="['/carrinho']" class="item ion-align-items-center ion-justify-content-between">
            <ion-label>Carrinho</ion-label>
            <img class="icon" src="../../../../assets/img/header-icons/carrinho_red_bold.png" alt="carrinho">
          </ion-row>
        </ion-col>
      </ion-row>
        
      <ion-row *ngIf="!this.login" class="menu__btn-acesso ion-justify-content-center">
        <ion-col size="6">
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-button class="menu__btn-acesso__entrar" [routerLink]="['/login']" fill="clear">Entrar</ion-button>
            <ion-button class="menu__btn-acesso__cadastrar" [routerLink]="['/cadastro']" fill="clear">Cadastrar-se</ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-menu>

<!-- Header -->
<div id="main-content">
  <ion-header>
    <ion-row class="header ion-justify-content-between ion-align-items-center">
      <ion-col size-sm="8" size-md="3">
        <ion-row class="ion-align-items-center ion-no-padding">
          <ion-img [routerLink]="['/']" class="header__logo" src="../../../assets/img/Logo.png" alt="logo"></ion-img>
        </ion-row>
      </ion-col>

      <ion-col size="auto">
        <ion-row class="header__bookmaker ion-align-items-center ion-justify-content-between ion-no-padding">
            <ion-col class="item" [routerLink]="['/']" size="auto">
              <ion-row class="ion-align-items-center">
                <img class="icon" src="../../../../assets/img/header-icons/home_white.png" alt="carrinho">
                <ion-label>Home</ion-label> 
              </ion-row>
            </ion-col>
            <ion-col class="item" [routerLink]="['/montagem-marmita']" size="auto">
              <ion-row class="ion-align-items-center">
                <img class="icon" src="../../../../assets/img/header-icons/motagem_white_bold.png" alt="carrinho">
                <ion-label>Montagem</ion-label>
              </ion-row>
            </ion-col>
            <ion-col class="item" [routerLink]="['/carrinho']" size="auto">
              <ion-row class="ion-align-items-center">
                <img class="icon" src="../../../../assets/img/header-icons/carrinho_white.png" alt="carrinho">
                <ion-label>Carrinho</ion-label>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>

      <ion-col size-sm="4" size-md="3">
        <ion-row class="ion-align-items-center ion-justify-content-end">
          <!-- Botões de login -->
          <ion-col *ngIf="!this.login" class="header__btn-acesso" size="auto">
            <ion-row>
              <ion-button class="header__btn-acesso__entrar" [routerLink]="['/login']" fill="clear">Entrar</ion-button>
              <ion-button class="header__btn-acesso__cadastrar" [routerLink]="['/cadastro']" fill="clear">Cadastrar-se</ion-button>
            </ion-row>
          </ion-col>
          <!-- Menu hamburguer -->
          <ion-menu-button class="header__btn-menu" color="light"></ion-menu-button>
          <!-- Icone Avatar -->
          <ion-col (click)="presentPopover($event)" *ngIf="this.login" class="header__btn-avatar ativar-popover" size="auto">
            <ion-row class="ion-align-items-center">
              <img id="click-trigger" class="ativar-popover ion-justify-content-end" alt="Avatar perfil"
              src="../../../../assets/img/header-icons/user.png" />
            </ion-row>
          </ion-col>
          
          <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" side="bottom" alignment="end" mode="ios">
            <ng-template ngIf="{{popover}}">
              <ion-content class="ion-padding">
                <ion-row class="">
                  <ion-col>
                    <ion-label id="saudacao">Olá Rômulo</ion-label>
                  </ion-col>
                  <ion-col size="12">
                    <ion-list lines="full">
                      <ion-item class="links">
                        <ion-label [routerLink]="['/perfil']">Seu perfil</ion-label>
                      </ion-item>
                      <ion-item class="links">
                        <ion-label [routerLink]="['/montagem-marmita']">Montar marmita</ion-label>
                      </ion-item>
                      <ion-item class="links">
                        <ion-label [routerLink]="['/perfil']">Histórico de pedidos</ion-label>
                      </ion-item>
                      <ion-item class="links">
                        <ion-label [routerLink]="['/perfil']">Formas de pagamento</ion-label>
                      </ion-item>
                      <ion-item class="links">
                        <ion-label [routerLink]="['/perfil']" class="ion-align-items-center">Sair</ion-label>
                        <ion-icon name="log-out-outline"></ion-icon>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-header>
</div>