* {
  ion-col {
    padding-inline: 0;
  }
}

.header {
  background-color: var(--ion-color-primary);
  padding: 16px 20px;
  
  &__logo {
    width: 220px;
  }

  &__menu {
    height: 100%;
    color: var(--ion-color-light);
    font-size: 1.4rem;
  }

  &__bookmaker {
    font-size: 1.2rem;
    color: #ffff;
    
    img {
      margin-right: 10px;
      height: 30px;
    }
    
    .item {
      &:nth-child(-n+2) {
        margin-right: 15px;
      }

      &::after {
        content: " ";
        display: block;
        
        height: 3px;
        width: 100%;
        border-radius: 10px;
        background-color: #ffff;
        
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.25s ease-out;
      }
      
      &:hover {
        cursor: pointer;
        
        &::after {
          margin-top: 10px;
          transform: scaleX(1);
          transform-origin: center;
        }
      }
    }
  }

  &__btn-acesso {
    height: 100%;

    &__entrar {
      width: 60px;
      margin-inline: 0 7px;
      --background-hover: var(--ion-color-primary);
      --background-activated: var(--ion-color-primary);
      --background-focused: var(--ion-color-primary);
      --color: #fff;
    }

    &__cadastrar {
      width: 145px;
      --background: #ffff;
      --background-hover: var(--ion-color-primary);
      --background-activated: var(--ion-color-primary);
      --background-focused: var(--ion-color-primary);
      --color: var(--ion-color-primary);
    }

  }
  
  &__icon-menu {
    display: none;
  }

  @media(max-width:975px) {
    &__menu {
      font-size: 1.2rem;
    }

    &__logo {
      width: 100%;
    }

    &__bookmaker {
      font-size: 1rem;
    }

    &__btn-acesso { 
      &__entrar {
        font-size: 0.6rem;
        width: 45px;
        margin-right: 3px;
      }
  
      &__cadastrar {
        font-size: 0.6rem;
        width: 117px;
      }
    }
  }

  img.ativar-popover {
    height: 50px;
  }
}

ion-popover {
  --width: 300px;
}

.ativar-popover ion-row:nth-child(1){
  &:hover{
    cursor: pointer;
  }
  gap: 20px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 80px;
}

.menu-container {
  padding-left: 5px;

  ion-avatar {
    height: 50px;
    width: 50px;
  }
}

#saudacao {
  font-size: 1.2rem;
}

#menu-container__toolbar {
  height: 80px;
  display: flex;
  align-items: center;
}

ion-menu::part(backdrop) {
  background-color: rgb(0, 0, 0);
}

ion-menu::part(container) {
  box-shadow: 4px 0px 16px var(--ion-color-dark);
}

#menu-container {
  background-color: var(--ion-color-primary);
}

#logo {
  font-size: 1.5rem;
  font-family: 'mrDafoe';
}

ion-menu-button {
  font-size: 2.5rem;
}

.header__menu-tirar,
.btn-acesso-entrar__menu {
  display: block;
}

@media(max-width:768px) {
  .header {
    &__logo {
      width: 182px;
    }

    &__bookmaker {
      display: none;
    }

    &__icon-menu {
      display: block;
    }
  }

  .ativar-popover {
    display: none;
  }

  .menu__header,
  .header__btn-acesso {
    display: none;
  }
}