<ion-content [fullscreen]="true">
  <ng-container *ngIf="!this.loading">
    <app-header></app-header>
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col size="12" sizeMd="6">
        <ion-label id="titulo">Categorias</ion-label>
      </ion-col>
      <ion-col size="12" sizeMd="4">
        <ion-row class="ion-justify-between ion-align-items-center">
          <ion-col [routerLink]="['/criacao-cupons']" routerDirection="back" size="1">
            <ion-icon name="add-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding ion-justify-content-center ion-align-items-center">
      <ng-container *ngIf="this.categorias.length">
        <ion-col size="11">
          <ion-row>
            <ng-container *ngFor="let categoria of categorias;">
              <ion-col size="12" sizeMd="4">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>{{categoria.nome}}</ion-card-title>
                  </ion-card-header>

                  <ion-card-content>
                    Quantidades de produtos: <b>{{this.quantidaProduto(categoria.produtos)}}</b>
                  </ion-card-content>

                  <ion-button fill="clear">Editar</ion-button>
                  <ion-button fill="fill" (click)="this.selecionarCategoria(this.categoria)">Excluir</ion-button>
                </ion-card>
              </ion-col>
            </ng-container>
          </ion-row>
        </ion-col>
      </ng-container>
      <ng-container *ngIf="!this.categorias.length">
        <ion-text color="primary" class="ion-text-center">
          <h2>Não há categorias selecionadas!</h2>
        </ion-text>
      </ng-container>
    </ion-row>
  </ng-container>
  <app-loading [loading]="this.loading"></app-loading>
  <ion-alert mode="ios" [isOpen]="this.alertExcluirCateogria" header="Deseja excluir este cupom?"
    [buttons]="this.alertButtons"></ion-alert>
</ion-content>