.login {
  min-height: 100vh;

  &__logo {
    font-family: 'mrDafoe';
    color: var(--ion-color-primary);
    font-size: 4rem;
  }


  &__btn-entrar {
    --padding-top: 25px;
    --padding-bottom: 25px;
    --padding-end: 75px;
    --padding-start: 75px;
  }

  .input-container {
    min-height: 80px;

    .erro {
      font-size: .8em;
    }
  }
}

