<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center ion-align-items-center main" >
    <ion-col size="10" sizeMd="8" sizeLg="5">
      <ion-col size="12" sizeMd="4">
        <ion-row class="ion-justify-content-center ion-text-md-ion-justify-content-start">
          <h1 class="login__logo"><a class="login__link" routerLink="/">Divina Refeição</a></h1>
        </ion-row>
      </ion-col>
      <ion-row>
        <ion-col>
          <form action="">
            <ion-list>
              <ion-list>
                <ion-item>
                  <ion-input label="Usuario" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Senha" type="password"></ion-input>
                </ion-item>
              </ion-list>
            </ion-list>
            <ion-row class="ion-justify-content-center ion-padding">
              <ion-col size="auto">
                <ion-button class="login__btn-entrar">Entrar</ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>