<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-row class="ion-padding">
    <ion-col size="12">
      <ion-row class="ion-padding">
        <ion-label>GERENCIAR:</ion-label>
      </ion-row>
      <ion-row class="opcoes ion-justify-content-around">
        <ion-col size=10 sizeMd="6" sizeLg="3">
          <ion-button [routerLink]="['/pedidos']" expand="block">
            <ion-row>
              <ion-col size="12">
                <ion-icon name="mail-unread-outline"></ion-icon>
              </ion-col>
              <ion-col size="12">
                Pedidos
              </ion-col>
            </ion-row>
          </ion-button>
        </ion-col>
        <ion-col size=10 sizeMd="6" sizeLg="3">
          <ion-button [routerLink]="['/historico']" expand="block">
            <ion-row>
              <ion-col size="12">
                <ion-icon name="reload-outline"></ion-icon>
              </ion-col>
              <ion-col size="12">
                Histórico
              </ion-col>
            </ion-row>
          </ion-button>
        </ion-col>
        <ion-col size=10 sizeMd="6" sizeLg="3">
          <ion-button [routerLink]="['/produtos']" expand="block">
            <ion-row>
              <ion-col size="12">
                <ion-icon name="basket-outline"></ion-icon>
              </ion-col>
              <ion-col size="12">
                produtos
              </ion-col>
            </ion-row>
          </ion-button>
        </ion-col>
        <ion-col size=10 sizeMd="6" sizeLg="3">
          <ion-button [routerLink]="['/cupons']" expand="block">
            <ion-row>
              <ion-col size="12">
                <ion-icon name="documents-outline"></ion-icon>
              </ion-col>
              <ion-col size="12">
                cupons
              </ion-col>
            </ion-row>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12">
      <ion-row class="ion-padding">
        <ion-label>CRIAR:</ion-label>
      </ion-row>
      <ion-row class="opcoes ion-justify-content-around">
        <ion-col size=10 sizeMd="6" sizeLg="3">
          <ion-button [routerLink]="['/criacao-comidas']" expand="block">
            <ion-row>
              <ion-col size="12">
                <ion-icon name="restaurant-outline"></ion-icon>
              </ion-col>
              <ion-col size="12">
                Comidas
              </ion-col>
            </ion-row>
          </ion-button>
        </ion-col>
        <ion-col size=10 sizeMd="6" sizeLg="3">
          <ion-button [routerLink]="['/criacao-bebidas']" expand="block">
            <ion-row>
              <ion-col size="12">
                <ion-icon name="beer-outline"></ion-icon>
              </ion-col>
              <ion-col size="12">
                Bebidas
              </ion-col>
            </ion-row>
          </ion-button>
        </ion-col>
        <ion-col size=10 sizeMd="6" sizeLg="3">
          <ion-button [routerLink]="['/criacao-combos']" expand="block">
            <ion-row>
              <ion-col size="12">
                <ion-icon name="restaurant-outline"></ion-icon>
                <ion-icon name="beer-outline"></ion-icon>
              </ion-col>
              <ion-col size="12">
                Combos
              </ion-col>
            </ion-row>
          </ion-button>
        </ion-col>
        <ion-col size=10 sizeMd="6" sizeLg="3">
          <ion-button [routerLink]="['/criacao-variacoes']" expand="block">
            <ion-row>
              <ion-col size="12">
                <ion-icon name="create-outline"></ion-icon>
              </ion-col>
              <ion-col size="12">
                variação
              </ion-col>
            </ion-row>
          </ion-button>
        </ion-col>
        <ion-col size=10 sizeMd="6" sizeLg="3">
          <ion-button [routerLink]="['/criacao-cupons']" expand="block">
            <ion-row>
              <ion-col size="12">
                <ion-icon name="documents-outline"></ion-icon>
              </ion-col>
              <ion-col size="12">
                cupom
              </ion-col>
            </ion-row>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>