<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-row class="ion-padding">
    <ion-col size="12">
      <ion-row class="ion-padding">
        <h1 class="titulo-pagina">Gerenciar</h1>
      </ion-row>
      <ion-row class="opcoes">
        <ion-col size=12 sizeMd="6" sizeLg="3">
          <app-opcoes titulo="Pedidos" [pagina]="['pedidos']" icone="mail-unread-outline"></app-opcoes>
        </ion-col>
        <ion-col size=12 sizeMd="6" sizeLg="3">
          <app-opcoes titulo="Histórico" [pagina]="['historico']" icone="reload-outline"></app-opcoes>
        </ion-col>
        <ion-col size=12 sizeMd="6" sizeLg="3">
          <app-opcoes titulo="Produtos" [pagina]="['produtos']" icone="basket-outline"></app-opcoes>
        </ion-col>
        <ion-col size=12 sizeMd="6" sizeLg="3">
          <app-opcoes titulo="Cupons" [pagina]="['cupons']" icone="documents-outline"></app-opcoes>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12">
      <ion-row class="ion-padding">
        <h1 class="titulo-pagina">Criar</h1>
      </ion-row>
      <ion-row class="opcoes">
        <ion-col size=12 sizeMd="6" sizeLg="3">
          <app-opcoes titulo="Produtos" [pagina]="['/criacao-produto']" icone="restaurant-outline"></app-opcoes>
        </ion-col>
        <ion-col size=12 sizeMd="6" sizeLg="3">
          <app-opcoes titulo="Comidas" [pagina]="['/criacao-comidas']" icone="restaurant-outline"></app-opcoes>
        </ion-col>
        <ion-col size=12 sizeMd="6" sizeLg="3">
          <app-opcoes titulo="Bebidas" [pagina]="['/criacao-bebidas']" icone="beer-outline"></app-opcoes>
        </ion-col>
        <ion-col size=12 sizeMd="6" sizeLg="3">
          <app-opcoes titulo="Combos" [pagina]="['/criacao-combos']" icone="restaurant-outline"></app-opcoes>
        </ion-col>
        <ion-col size=12 sizeMd="6" sizeLg="3">
          <app-opcoes titulo="variação" [pagina]="['/criacao-variacoes']" icone="create-outline"></app-opcoes>
        </ion-col>
        <ion-col size=12 sizeMd="6" sizeLg="3">
          <app-opcoes titulo="Cupom" [pagina]="['/criacao-cupons']" icone="documents-outline"></app-opcoes>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
