ion-icon {
    &:hover {
        cursor: pointer;
    }

    font-size: 2rem;
    font-weight: 600;
}

h1{
    color: var(--ion-color-primary);
}
.opcoes{
    ion-button{
        height: 25vh;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}