<ion-card>
  <ion-card-content>
    <ion-row class="ion-align-items-center ion-justify-content-around">
      <ion-col size="6">
        <ion-row style="gap: 5px;" class="ion-align-items-center">
          <ion-card-title>Card Title</ion-card-title>
          <ion-text>Lorem ipsum adipisicing elit. Obcaecati suscipit, laboriosam veritaep </ion-text>
          <ion-text>R$: 29,99</ion-text>
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <img class="img__marmita" src="../../../assets/img/home-icons/garfo_faca_2.png" alt="">
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>