<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-padding ion-justify-content-center ion-align-items-center">
    <ion-col size="11.9">
      <ion-row class="pedido" class="ion-justify-content-between ion-align-items-center">
        <ion-col size="12" sizeMd="auto">
          <ion-icon [routerLink]="['/historico']"  routerDirection="back" name="arrow-back-outline"></ion-icon>
        </ion-col>
        <ion-col size="12" sizeMd="auto">
          <ion-row class="ion-justify-between ion-align-items-center">
            <ion-label>Pedido #{{this.pedido.id_pedido}}</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <table>
        <tr>
          <th>Itens</th>
          <th>Quantidades</th>
        </tr>
        <tr *ngFor="let produtos of pedido.produtos" [routerLink]="['/pedido']"  routerDirection="back">
          <td>
            <ion-row class="ion-align-items-center">
              <ion-col size="3">
                <img src="{{produtos.variacao!.imagem}}" alt="{{produtos.nome}}">
              </ion-col>
              <ion-col>
                <ion-row>
                  {{produtos.nome}}
                </ion-row>
              </ion-col>
            </ion-row>
          </td>
          <td>3</td>
        </tr>
      </table>
    </ion-col>
    <ion-col size="11.9" sizeMd="10" sizeLg="5">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" sizeMd="6" class="informacoes ion-padding">
          <ion-row>
            <ion-text>
              <p>Cliente: {{pedido.cliente!.nome}}</p>
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-text>
              <p>CEP: {{pedido.endereco_pedido}}</p>
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-text>
              <p>Pagamento: {{pedido.forma_pagamento}}</p>
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-text>
              <p>Status: {{pedido.status}}</p>
            </ion-text>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>