ion-accordion-group {
  width: 100%;
}

div[slot='content'] {
  background: var(--ion-color-tertiary);
}

#titulo {
  font-size: 1.5rem;
  font-weight: 500;
}

ion-icon {
  &:hover {
    cursor: pointer;
  }

  font-size: 2rem;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center center;
  gap: 20px;
}

@media(max-width: 1490px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(max-width: 1050px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 510px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}