<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-padding ion-justify-content-center ion-align-items-center">
    <ion-col size="11.9">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="12" sizeMd="auto">
          <ion-label id="titulo">Cupons</ion-label>
        </ion-col>
        <ion-col size="12" sizeMd="auto">
          <ion-row class="ion-justify-between ion-align-items-center">
            <ion-col size="11">
              <ion-list>
                <ion-item>
                  <ion-select interface="popover" mode="ios" placeholder="Select">
                    <ion-select-option value="valido" Default="true">Valido</ion-select-option>
                    <ion-select-option value="invalido">Invalido</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>

            <ion-col id="open-custom-dialog" [routerLink]="['/criacao-cupons']" routerDirection="back" size="1">
              <ion-icon name="add-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="11">
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-label>Validos:</ion-label>
        </ion-col>
        <ion-col size="11.9" class="grid">
          <ng-container *ngFor="let cupom of this.cupons">
            <app-cards-cupons *ngIf="cupom.status" [cupom]="cupom"></app-cards-cupons>
          </ng-container>
        </ion-col>
        <ion-col>
          <ion-label>Invalidos:</ion-label>
        </ion-col>
        <ion-col size="11.9" class="grid">
          <ng-container *ngFor="let cupom of this.cupons">
            <app-cards-cupons *ngIf="!cupom.status" [cupom]="cupom"></app-cards-cupons>
          </ng-container>
        </ion-col>
        <ng-container *ngIf="this.cupons == null">
          Não há cupons
        </ng-container>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>