.cupom {
  width: 260px;
  height: 170px;
  background-image: url("../../../../assets/imgs/cupons/cupom.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: .2s ease all;
  margin: 36px auto 16px auto;
  cursor: pointer;

  &__infos {
    margin-left: 140px;
  }


  &__desativado {
    opacity: .6;
  }
}

b {
  font-size: 1.1rem;
}

  ion-icon {
    font-size: 3rem;
  }
