.cupom {
  width: 260px;
  height: 170px;
  background-image: url("../../../../assets/imgs/cupons/cupom.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: .2s ease all;
  margin: 24px auto 16px auto;
  cursor: pointer;

  &__infos {
    margin-left: 125px;

    ion-icon {
      font-size: 6rem;
      color: var(--ion-color-light);
    }
  }


  &__desativado {
    opacity: .6;
  }
}

b {
  font-size: 1.1rem;
}

