<ion-card class="card" color="primary">
  <ion-card-content>
    <ion-row class="ion-align-items-center ion-justify-content-around">
      <ion-col size="6">
        <ion-row class="card__wrapper-content ion-align-items-center">
          <ion-card-title class="card__title">Monte sua marmita</ion-card-title>
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <img class="card__img-marmita"
            src="../../../../assets/img/home-icons/montagem_marmita.png" alt="Marmita">
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>