<ion-card class="card">
  <ion-card-content>
    <ion-row class="ion-align-items-center ion-justify-content-around">
      <ion-col size="6">
        <ion-row class="card__wrapper-content ion-align-items-center">
          <ion-card-title class="text">{{ this.variacao.NOME }}</ion-card-title>
          <ion-text class="card__desc">{{ this.variacao.DESCRICAO }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime dolore, impedit quibusdam at iure enim recusandae cupiditate cumque. Dicta dolorum numquam, veritatis earum pariatur assumenda dolore doloremque perspiciatis amet laborum.</ion-text>
          <ion-text>
            <p class="card__preco text">R$ {{ this.variacao.VALOR_FINAL!.toFixed(2).replace('.', ',') }}</p>
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col size="5">
        <ion-row>
          <img class="img-marmita" src="{{ this.variacao.IMAGEM }}" alt="Imagem de {{ this.variacao.NOME }}" />
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>