<ion-row class="ion-margin">
  <ion-col size="12" *ngIf="this.tituloSessao">
    <ion-row class="titulo-sessao">
      <ion-label>{{ this.tituloSessao }}</ion-label>
    </ion-row>
  </ion-col>

  <ion-col size="12">
    <ion-row class="grid ion-justify-content-start">
      <ng-container *ngFor="let produto of this.produtos">
        <app-card-produto [produto]="produto" (click)="abrirModal(produto.id)" class="cards"></app-card-produto>
      </ng-container>
    </ion-row>
  </ion-col>
</ion-row>
