#titulo__pesquisa{
    color: var(--ion-color-dark);
}
#lupa__pesquisa{
    height: 2rem;
}

.icones__atalhos{
    height: 10rem;
}
#divisoria{
    border: 1px solid var(--ion-color-medium);
}

.titulo-sessao{
    margin: 50px 0 30px 0;
    font-size: 1.6rem;
    color: var(--ion-color-dark);
}

.img__marmita{
    width: 7rem;
}