<ion-content [fullscreen]="true">
  <ion-header>
    <app-header></app-header>
  </ion-header>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-row class="ion-justify-content-center">
        <h1 id="titulo__pesquisa">Encontre que está procurando</h1>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="8">
          <ion-searchbar show-cancel-button="never" placeholder="Pesquisar"></ion-searchbar>
        </ion-col>
      </ion-row>

    </ion-col>

    <ion-col size="8">
      <ion-row class="ion-justify-content-around">
        <ion-col size="4">
          <ion-row class="card__atalhos ion-justify-content-center">
            <ion-col size="12">
              <ion-row class="ion-justify-content-center">
                <img class="icones__atalhos" src="../../../assets/img/home-icons/garfo_faca_1.png" alt="">
              </ion-row>
              <ion-row class="ion-justify-content-center">
                <h2>Marmitas</h2>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="4">
          <ion-row class="card__atalhos ion-justify-content-center">
            <ion-col size="12">
              <ion-row class="ion-justify-content-center">
                <img class="icones__atalhos" src="../../../assets/img/home-icons/bebidas_1.png" alt="">
              </ion-row>
              <ion-row class="ion-justify-content-center">
                <h2>Bebidas</h2>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="4">
          <ion-row class="card__atalhos ion-justify-content-center">
            <ion-col size="12">
              <ion-row class="ion-justify-content-center">
                <img class="icones__atalhos" src="../../../assets/img/home-icons/combos_1.png" alt="">
              </ion-row>
              <ion-row class="ion-justify-content-center">
                <h2>Combos</h2>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <ion-row id="divisoria"></ion-row>
    </ion-col>
  </ion-row>



  <ion-row class="ion-margin">
    <ion-col size="12">
      <ion-row class="titulo__sessao">
        <ion-label>
          Destaques
        </ion-label>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row>
        <ion-col size="4">
          <ion-card color="primary">
            <ion-card-content>
              <ion-row class="ion-align-items-center ion-justify-content-around">
                <ion-col size="6">
                  <ion-row style="gap: 5px;" class="ion-align-items-center">
                    <ion-card-title style="font-size: 1.8rem;">Monte sua marmita</ion-card-title>
                  </ion-row>
                </ion-col>
                <ion-col size="4">
                  <ion-row>
                    <img class="img__marmita" style="height: 7.5rem;"
                      src="../../../assets/img/home-icons/icone_pesonalize_marmita.png" alt="">
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <app-card-home></app-card-home>
        </ion-col>

        <ion-col size="4">
          <app-card-home></app-card-home>
        </ion-col>

        <ion-col size="4">
          <app-card-home></app-card-home>
        </ion-col>

        <ion-col size="4">
          <app-card-home></app-card-home>
        </ion-col>

        <ion-col size="4">
          <app-card-home></app-card-home>
        </ion-col>
      </ion-row>
    </ion-col>

  </ion-row>

  <ion-row class="ion-margin">
    <ion-col size="12">
      <ion-row class="titulo__sessao">
        <ion-label>
          Marmitas prontas
        </ion-label>
      </ion-row>
    </ion-col>

    <ion-col size="4">
      <app-card-home></app-card-home>
    </ion-col>

    <ion-col size="4">
      <app-card-home></app-card-home>
    </ion-col>

    <ion-col size="4">
      <app-card-home></app-card-home>
    </ion-col>

    <ion-col size="4">
      <app-card-home></app-card-home>
    </ion-col>

    <ion-col size="4">
      <app-card-home></app-card-home>
    </ion-col>

    <ion-col size="4">
      <app-card-home></app-card-home>
    </ion-col>

  </ion-row>
  <app-footer></app-footer>
</ion-content>