#titulo__pesquisa {
  color: var(--ion-color-dark);
}

#lupa__pesquisa {
  height: 2rem;
}

#divisoria {
  border: 1px solid var(--ion-color-medium);
}

swiper-container {
  --swiper-pagination-color: var(--ion-color-primary);
}