<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-row class="ion-justify-content-center">
        <h1 id="titulo__pesquisa">Encontre que está procurando</h1>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" sizeMd="8">
          <ion-searchbar show-cancel-button="never" placeholder="Pesquisar"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="8">
      <ion-row class="ion-justify-content-around">
        <app-atalho-home [routerLink]="['listagem-page']" [nomeAtalho]="'Marmitas'" [iconeAtalho]="'../../../assets/img/home-icons/garfo_faca_outline.png'"></app-atalho-home>
        <app-atalho-home [nomeAtalho]="'Bebidas'" [iconeAtalho]="'../../../assets/img/home-icons/bebidas_outline.png'"></app-atalho-home>
        <app-atalho-home [nomeAtalho]="'Combos'" [iconeAtalho]="'../../../assets/img/home-icons/combos_outline.png'"></app-atalho-home>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <ion-row id="divisoria"></ion-row>
    </ion-col>
  </ion-row>

  <app-sessao-cards-home [tituloSessao]="'Destaques'" [cardMontagem]="true" [produtos]="this.produtos"></app-sessao-cards-home>
  <app-sessao-cards-home [tituloSessao]="'Marmitas Prontas'" [produtos]="this.produtos"></app-sessao-cards-home>

  <app-footer></app-footer>
</ion-content> 