#titulo__pesquisa{
    color: var(--ion-color-dark);
}
#lupa__pesquisa{
    height: 2rem;
}

.icones__atalhos{
    height: 10rem;
}
#divisoria{
    border: 1px solid var(--ion-color-medium);
}

.img__marmita{
    width: 7rem;
}