<ion-row class="header ion-justify-content-around">
  <ion-col size="3">
    <img src="../../../assets/img/Logo.png" alt="logo">
  </ion-col>

  <ion-col size="3">
    <ion-row class="menu ion-align-items-center ion-justify-content-around">
      <ion-label>Home</ion-label>
      <ion-label>Montagem</ion-label>
      <ion-label>Contato</ion-label>
    </ion-row>
  </ion-col>

  <ion-col size="3">
    <ion-row class="btn__acesso ion-align-items-center ion-justify-content-center">
      <ion-button id="btn__entrar" class="" fill="clear">Entrar</ion-button>
      <ion-button id="btn__cadastrar" class="" fill="clear">Cadastrar</ion-button>
    </ion-row>
  </ion-col>
</ion-row>
