.valor-inicial {
    text-decoration: line-through;
}

.valor-final{
    margin-left: 10px;
    font-weight: bold;
    color: green;
}

.titulo {
    font-size: 2rem;
    color: var(--ion-color-primary);
    font-weight: 600;
}

.icone-fechar-modal {
    font-size: 3rem;
}