<ion-content class="scroll">
  <ion-row>
    <ion-col class="container">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="8" class="itens-borda-superior">
          <ion-label class="ion-padding">
            <h2 class="titulo">{{produto.nome}}</h2>
          </ion-label>
        </ion-col>
        <ion-col size="1" class="itens-borda-superior">
          <ion-label (click)="fecharModal()">
            <ion-icon class="icone-fechar-modal" name="close-outline"></ion-icon>
          </ion-label>
        </ion-col>
      </ion-row>
      
      <ion-row class="ion-justify-content-center">
      <ion-col size="10">
          <ion-row>
            <ion-col class="imagem-container ion-justify-content-center">
              <ion-img class="imagem" src="{{produto.imagem}}"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>

          </ion-row>

        <ion-col class="detalhes">
          <ion-row>
            <ion-col>
              <ion-label>
                <p class="subtitulo">Detalhes: </p>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-accordion-group multiple="true">
                <ion-accordion value="{{produto.nome}}">
                  <ion-item slot="header" color="light">
                    <ion-label>Nome</ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">{{produto.nome}}</div>
                </ion-accordion>
                <ion-accordion value="{{produto.descricao}}">
                  <ion-item slot="header" color="light">
                    <ion-label>Descrição</ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">{{produto.descricao}}</div>
                </ion-accordion>
                <ion-accordion value="preco">
                  <ion-item slot="header" color="light">
                    <ion-label>Preço</ion-label>
                  </ion-item>
                  <div class="ion-padding ion-justify-content-between" slot="content">
                    <p>Preço: </p>
                    <span class="valor-inicial">R${{produto.valor_inicial.toFixed(2).replace('.', ',')}}</span>
                    <span class="valor-final">R${{produto.valor_final.toFixed(2).replace('.', ',')}}</span>
                  </div>
                </ion-accordion>
              </ion-accordion-group>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-observacoes></app-observacoes>
        </ion-col>
      </ion-row>
      
      <ion-row class="ion-justify-content-around">
        <ion-col size="auto">
          <app-contador></app-contador>
        </ion-col>
        <ion-col size="auto">
          <ion-label class="editar-marmita">
            <ion-icon [routerLink]="['montagem-marmita']" (click)="fecharModal(); chamarDefinirMarmita(this.produto)" name="create-outline"></ion-icon>
          </ion-label>
        </ion-col>
        <ion-col size="auto">
          <ion-button mode="ios">Adicionar</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>