<ion-modal backdropDismiss="false" [isOpen]="this.isOpen">
  <ng-template>
    <ion-content>
      <div class="wrapper">
        <ion-header>
          <ion-toolbar>
            <ion-title>{{this.produto.nome}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="this.fechar.emit()"><ion-icon name="close-outline"
                size="large"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-row class="ion-align-items-center ion-padding-horizontal ion-justify-content-center">
          <ion-col size="11.5">
            <img src="{{this.produto.imagem}}" alt="{{this.produto.nome}}">
          </ion-col>

          <ion-col size="12">
            <ion-list lines="full">
              <ion-item>
                <ion-label><b>Nome:</b> {{ this.produto.nome }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label><b>Categoria:</b> {{ this.produto!.categoria!.nome }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label><b>Descrição:</b> {{ this.produto }</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>

          <ion-col size="12">
            <ion-row class="ion-justify-content-center">
              <ion-col size="4">
                <ion-button expand="block" size="large">Editar</ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button fill="outline" expand="block" size="large">Excluir</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
