<ion-item>
  <ion-row class="container__item ion-align-items-center ion-justify-content-around ">
    <ion-col size="3">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col>
          <ion-row class="ion-justify-content-end">
            <img src="../../../assets/img/home-icons/garfo_faca_2.png" alt="">
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-text>Marmita 1</ion-text>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="3">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-text>
          R$: 29,99
        </ion-text>
      </ion-row>
    </ion-col>

    <ion-col size="3">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-button>-</ion-button>
        <ion-text class="ion-padding" id="contador__quantidade">0</ion-text>
        <ion-button>+</ion-button>
      </ion-row>
    </ion-col>

    <ion-col size="3">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-text>
          R$: 89,99
        </ion-text>
      </ion-row>
    </ion-col>


  </ion-row>
</ion-item>