<ion-item>
  <ion-row
    class="container__item ion-align-items-center ion-justify-content-around"
  >
    <ion-col size="3">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col>
          <ion-row class="ion-justify-content-end">
            <img src="../../../assets/img/home-icons/garfo_faca_2.png" alt="" />
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-text>{{ Produto?.NOME }}</ion-text>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="3">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-text>{{ Produto?.VARIACAO?.VALOR_DESCONTO }}</ion-text>
      </ion-row>
    </ion-col>

    <ion-col size="3">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-button (click)="addQuantidade(-1)" class="btn-qtde">-</ion-button>
        <ion-text class="ion-padding ion-text-center" id="quantidade">
          <p>{{ quantidade }}</p>
        </ion-text>
        <ion-button (click)="addQuantidade(1)" class="btn-qtde">+</ion-button>
      </ion-row>
    </ion-col>

    <ion-col size="3">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-text>R$ {{Produto?.VARIACAO?.VALOR_DESCONTO! * quantidade}}</ion-text>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-item>
