<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <ion-row class="ion-justify-content-center">
        <h1>CRIAR CUPOM</h1>
      </ion-row>
      <!-- <form #editarForm="ngForm" (ngSubmit)="this.editar($event)">
          <ion-input ngModel name="nome" label="Nome do cupom" label-placement="floating" fill="outline"
            placeholder="Digite o nome do cupom" value="{{this.cupom?.nome}}" type="hidden"></ion-input>

            <ion-input ngModel name="nome" label="Nome do cupom" label-placement="floating" fill="outline"
            placeholder="Digite o nome do cupom" value="{{this.cupom?.nome}}" type="hidden"></ion-input>

            <ion-input ngModel name="nome" label="Nome do cupom" label-placement="floating" fill="outline"
            placeholder="Digite o nome do cupom" value="{{this.cupom?.nome}}" type="hidden"></ion-input>
            
        <ion-row>
          <ion-input ngModel name="nome" label="Nome do cupom" label-placement="floating" fill="outline"
            placeholder="Digite o nome do cupom" value="{{this.cupom?.nome}}"></ion-input>
        </ion-row>
        <ion-row>
          <ion-input ngModel name="valor_desconto" label="Valor do cupom" label-placement="floating" fill="outline"
            placeholder="Digite o valor do cupom" value="{{this.cupom?.valor_desconto}}"></ion-input>
        </ion-row>
        <ion-row>
          <ion-input ngModel name="data_validade" type="date" label="Validade do cupom" label-placement="floating" fill="outline"
            placeholder="Enter text"></ion-input>
        </ion-row>
        <ion-row>
          <ion-input ngModel name="quantidade" type="number" label="Quantidade de cupons" label-placement="floating" fill="outline"
            placeholder="Digite a quantidade de cupons" value="{{this.cupom?.quantidade}}"></ion-input>
        </ion-row>

        <ion-row>
          <ion-col size=6>
            <ion-button size="large" type="submit" [routerLink]="['/cupons']" routerDirection="back" expand="block">Voltar</ion-button>
          </ion-col>
          <ion-col size=6>
            <ion-button size="large" type="submit" expand="block">Editar</ion-button>
          </ion-col>
        </ion-row>
      </form> -->

      <hr>



      <app-form-cupom [cupom]='this.cupom' (emitirCupom)="console($event)"></app-form-cupom>



    </ion-col>
  </ion-row>

</ion-content>