<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-justify-content-space-between barra-superior">
    <ion-col>
      <ion-label>Marmitas</ion-label>
    </ion-col>
    <ion-col size="3">
      <ion-label>Filtros</ion-label>
      <ion-icon name="filter-outline"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card class="marmita">
        <ion-card-content>
          <ion-row>
            <ion-col size="5">
              <ion-title class="titulo">Nome da Marmita</ion-title>
              <ion-row>
                <ion-col>
                  <ion-text>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nulla molestiae obcaecati reiciendis deserunt ration</ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label class="valor">R$ valor da marmita</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="5">
              <ion-img class="imagem" src="https://images.pexels.com/photos/884596/pexels-photo-884596.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <app-footer></app-footer>
</ion-content>
