<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="barra-superior ion-justify-content-center ion-no-padding">
    <ion-col size="11">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="auto">
          <ion-row class="ion-align-items-start">
            <ion-label>Marmitas</ion-label>
          </ion-row>
        </ion-col>
        
        <ion-col size="auto">
          <ion-row class="ion-align-items-end">
            <ion-select (ionChange)="filtrarSelecao($event)" interface="popover" mode="ios" placeholder="Filtros"
              [(ngModel)]="selectedOptions" class="">
              <ion-select-option value="nenhum" default="true">Nenhum</ion-select-option>
              <ion-select-option value="relevancia">Relevância</ion-select-option>
              <ion-select-option value="menorPreco">Menor Preço</ion-select-option>
              <ion-select-option value="maiorPreco">Maior Preço</ion-select-option>
            </ion-select>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>  

  <app-sessao-cards-produto [produtos]="this.produtos"></app-sessao-cards-produto>

  <app-footer></app-footer>
</ion-content>