.barra-superior {
  &__titulo {
    font-size: 2.1em;
    font-weight: bold;
  }

  &__filtro {
    border-radius: 2px;
    font-weight: bold;

    ion-select::part(icon) {
      color: var(--ion-color-dark);
    }
  }
}
