<ion-content [fullscreen]="true">
  <ng-container *ngIf="!this.loading">
    <app-header></app-header>

    <ion-row>
      <ion-col class="ion-no-padding main">
        <app-pesquisa-produto [categorias]="this.categorias"
          (filtragem)="this.categoriasFiltradas = $event"></app-pesquisa-produto>

        <ng-container *ngFor="let categoria of this.categoriasFiltradas">
          <app-sessao-cards-produto (selecionar)="this.abrirModal($event)" [produtos]="categoria.produtos"></app-sessao-cards-produto>
        </ng-container>

        <ng-container *ngIf="!this.categoriasFiltradas.length">
          <ion-text class="ion-text-center">
            <h3>Não há produtos!</h3>
          </ion-text>
        </ng-container>
      </ion-col>
    </ion-row>

    <app-footer></app-footer>

    <app-modal-produto
      [produto]="this.produtoSelecionado"
      [isOpen]="this.isOpen"
      (fechar)="this.fecharModal()"
    ></app-modal-produto>
  </ng-container>
  <app-loading [loading]="this.loading"></app-loading>
</ion-content>
