<ion-content [fullscreen]="true">
  <ng-container *ngIf="!this.loading">
    <app-header></app-header>

    <app-pesquisa-produto [categorias]="this.categorias"
      (filtragem)="this.categoriasFiltradas = $event"></app-pesquisa-produto>

    <ng-container *ngFor="let categoria of this.categoriasFiltradas">
      <app-sessao-cards-produto [cardMontagem]="true" [produtos]="categoria.produtos"></app-sessao-cards-produto>
    </ng-container>

    <ng-container *ngIf="!this.categoriasFiltradas.length">
      <ion-text class="ion-text-center">
        <h3>Não há produtos!</h3>
      </ion-text>
    </ng-container>

    <app-footer></app-footer>
  </ng-container>
  <app-loading [loading]="this.loading"></app-loading>
</ion-content>
