.page {
  background-color: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 650px;
  border-radius: 20px;
  margin: 40px;
  padding: 40px;

  &__header {
    margin-bottom: 40px;

    &__title {
      font-size: 1.8rem;
      color: var(--ion-color-dark);
    }

    &__icon {
      width: 35px;
      cursor: pointer;
    }
  }

  &__content {
    &__list {
      background: #eaeaea;
      border-radius: 20px;
      overflow-y: scroll;
      position: relative;
      height: 50vh;

      &__delete {
        width: 30px;
        transition: 0.2s;

        &:hover {
          transform: scale(1.2);
          transition: 0.2s;
        }

        &:active {
          transform: scale(1.2);
          transition: 0.2s;
        }
      }

      ion-accordion-group {
        margin: 30px 30px 0 30px;
      }

      ion-accordion {
        border-radius: 20px;
        margin-bottom: 5px;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
      }

      ion-item {
        --ripple-color: #eaeaea;

        p {
          color: #000;
          font-weight: normal;
        }

        &::part(native) {
          background: #FFF;
          color: var(--ion-color-primary-variation);
          font-weight: bold;
          text-transform: capitalize;
          border-radius: 20px;
          height: 50px;
        }
      }
    }

    &__form {
      &__title {
        font-size: 2rem;
        color: var(--ion-color-primary-variation);
        margin-bottom: 30px;
      }

      ion-text {
        font-size: 0.8rem;
      }

      ion-input {
        --color: var(--ion-color-primary-variation);
      }

      ion-col#cep {
        padding: 0;
      }

      .btn_procurar {
        --background: var(--ion-color-primary-variation);
        --background-hover: var(--ion-color-primary-variation);
        --background-activated: var(--ion-color-primary-variation);
        --background-focused: var(--ion-color-primary-variation);
        height: 56px;
        margin: 0 0 0 5px;

        &__seach {
          height: 30px;
        }
      }
    }
  }
}
