<ion-row class="page">
  <ion-col size="12">
    <ion-row class="page__header ion-justify-content-between">
      <ion-col size="auto" class="page__header__title">
        <ion-label>Endereço</ion-label>
      </ion-col>
      <ion-col [ngStyle]="{'display': displayList}" (click)="btnChange('list')" size="auto">
        <img class="page__header__icon" src="../../../../assets/imgs/perfil-icons/list.svg" alt="listar">
      </ion-col>

      <ion-col [ngStyle]="{'display': displayAdd}" (click)="btnChange('add')" size="auto">
        <img class="page__header__icon" src="../../../../assets/imgs/perfil-icons/add.svg" alt="adicionar">
      </ion-col>
    </ion-row>

    <ion-row class="page_content ion-justify-content-center">
      <ion-col size="12">
        <ion-row [ngStyle]="{'display': displayAdd}" class="page__content__list ion-justify-content-center ion-align-items-start">
          <ion-col size="11">
            <ion-accordion-group>
              <ng-container *ngFor="let endereco of this.enderecos">
                <ion-accordion value="{{ endereco.id }}">
                  <ion-item slot="header">
                    <ion-label>{{ endereco.nome }}</ion-label>
                    <img (click)="deletarEndereco(endereco.id)" class="page__content__list__delete" src="../../../../assets/imgs/perfil-icons/delete.svg" alt="delete">
                  </ion-item>
                  <div class="ion-padding" slot="content">
                    <ion-row>
                      <ion-col size="4">
                        <ion-label>Cep: {{ endereco.cep }} </ion-label>

                      </ion-col>
                      <ion-col size="8">
                        <ion-label>Rua: {{ endereco.rua }}</ion-label>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size="4">
                        <ion-label>Bairro: {{ endereco.bairro }}</ion-label>
                      </ion-col>
                      <ion-col size="3">
                        <ion-label>Número: {{ endereco.numero }}</ion-label>
                      </ion-col>
                      <ion-col size="5">
                        <ion-label>Complemento: {{ endereco.complemento }}</ion-label>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-accordion>
              </ng-container>
            </ion-accordion-group>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-row [ngStyle]="{'display': displayList}" class="page__content__form ion-justify-content-center">
        <ion-col size="11">
          <ion-row class="page__content__form__title">
            <ion-label>
              Cadastro
            </ion-label>
          </ion-row>
          <form #cadastrarForm="ngForm" (ngSubmit)="this.cadastrar()">
            <ion-row>
              <ion-col>
                <ion-input fill='outline' [(ngModel)]="dados.nome" name="nome" label="Nome:" type="text" required></ion-input>
                <ion-text class="erro" color="danger">{{ this.erros.nome }}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <ion-row>
                  <ion-col id="cep" >
                    <ion-input fill='outline' [(ngModel)]="dados.cep" name="cep" label="CEP:" type="text"></ion-input>
                  </ion-col>
                  <ion-col id="cep" size="auto">
                    <ion-button (click)="procurarCep(dados.cep)" class="btn_procurar">
                      <img class="btn_procurar__seach" src="../../../../assets/imgs/perfil-icons/search.svg" alt="procurar">
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ion-text class="erro" color="danger">{{ this.erros.cep }}</ion-text>
              </ion-col>
              <ion-col size="7">
                <ion-input fill='outline' [(ngModel)]="dados.rua" name="rua" label="Rua:" type="text" required></ion-input>
                <ion-text class="erro" color="danger">{{ this.erros.rua }}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <ion-input fill='outline' [(ngModel)]="dados.bairro" name="bairro" label="Bairro:" type="text" required></ion-input>
                <ion-text class="erro" color="danger">{{ this.erros.bairro }}</ion-text>
              </ion-col>
              <ion-col size="3">
                <ion-input fill='outline' [(ngModel)]="dados.numero" name="numero" label="Número:" type="text" required></ion-input>
                <ion-text class="erro" color="danger">{{ this.erros.numero }}</ion-text>
              </ion-col>
              <ion-col size="5">
                <ion-input fill='outline' [(ngModel)]="dados.complemento" name="complemento" label="Complemento:" type="text"></ion-input>
                <ion-text class="erro" color="danger">{{ this.erros.complemento }}</ion-text>
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center ion-padding">
              <ion-col size="auto">
                <ion-button type="submit" class="btn_cadastrar ion-padding">Cadastrar</ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-col>
</ion-row>
