<ion-row class="page">
  <ion-col>
    <ion-row class="page__header ion-justify-content-between">
      <ion-col size="auto" class="page__header__title">
          <ion-label>Endereço</ion-label>
      </ion-col>
      <ion-col size="auto">
        <img class="page__header__edit" src="../../../../assets/imgs/perfil-icons/edit.svg" alt="editar">
      </ion-col>
    </ion-row>
    <ion-row class="page_container ion-justify-content-between">
      <form #cadastarForm="ngForm" (ngSubmit)="this.cadastrar()">
        <ion-input name="email" label="Email" type="text"></ion-input>
        <ion-input name="email" label="Email" type="text"></ion-input>
        <ion-input name="email" label="Email" type="text"></ion-input>
        <ion-input name="email" label="Email" type="text"></ion-input>
        <ion-input name="email" label="Email" type="text"></ion-input>

        <ion-row class="ion-justify-content-center ion-padding">
          <ion-col size="auto">
            <ion-button type="submit" class="login__btn-entrar">Entrar</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-row>
  </ion-col>
</ion-row>
