<ion-modal id="example-modal" #modal trigger="open-modal-pedido">
  <ng-template>
    <ion-content>
      <div class="wrapper">
        <ion-header>
          <ion-toolbar>
            <ion-title>
              <b>Produtos</b>
            </ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()"><ion-icon name="close-outline" size="large"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-row class="ion-align-items-center ion-padding-horizontal">
          <ion-col>
            <ng-container *ngFor="let produtos of pedido">
              <h4>{{produtos[0] | titlecase }}</h4>
              <ion-row class="ion-justify-content-start">
                <ng-container *ngFor="let p of produtos[1]">
                  <ion-col size="8" sizeMd="5" class="ion-margin-horizontal ion-no-padding">
                    <ion-card>
                      <img alt="{{p.produto.nome | titlecase}}" src="{{p.produto.imagem}}" />
                      <ion-card-header>
                        <ion-card-title>{{p.produto.nome | titlecase}}</ion-card-title>
                      </ion-card-header>
                    </ion-card>
                  </ion-col>
                </ng-container>
              </ion-row>
            </ng-container>
          </ion-col>
        </ion-row>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
