.container__item {
  width: 100% !important;
}

ion-text {
  font-size: 1.3rem;
}

.titulo-sessao {
  margin: 50px 0 25px 0;
  font-size: 1.6rem !important;
  font-weight: bold;
  color: var(--ion-color-dark);
}

#divisoria {
  border: 1px solid var(--ion-color-medium);
}

.finalizacao {
  font-size: 1.2rem;

  &__valores {
    color: var(--ion-color-success);
    font-size: 1.2rem;
    font-weight: 700;
  }
}

#finalizacao__total {
  font-weight: bold;
}

.cupom__image {
  width: 50px;
}

.remover {
  left: -2%;
}

.borda {
  outline: 1px solid black;
}