<ion-content [fullscreen]="true">
  <ion-header>
    <app-header></app-header>
  </ion-header>

  <ion-row class="ion-margin">
    <ion-col size="12">
      <ion-row class="titulo-sessao">
        <ion-label> Carrinho </ion-label>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-list>
        <ion-item>
          <ion-row class="container__item ion-align-items-center ion-justify-content-around">
            <ion-col offset="3" size="3">
              <ion-row class="ion-justify-content-center ion-align-items-center">
                <ion-text><b>Preço</b></ion-text>
              </ion-row>
            </ion-col>

            <ion-col size="3">
              <ion-row class="ion-justify-content-center ion-align-items-center">
                <ion-text><b>Quantidade</b></ion-text>
              </ion-row>
            </ion-col>

            <ion-col size="3">
              <ion-row class="ion-justify-content-center ion-align-items-center">
                <ion-text><b>Subtotal</b></ion-text>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-item>

        <ng-container *ngFor="let produto of this.produtos">
          <app-card-carrinho
            [produto]="produto"
            (calc)="this.calcTotal()"
          ></app-card-carrinho>
        </ng-container>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin ion-justify-content-center">
    <ion-col size="5">
      <ion-row>
        <ion-label class="titulo__sessao">Regatar cupom</ion-label>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col size="1">
          <ion-row>
            <img src="../../../assets/img/carrinho-icons/cupom 1.png" alt="Cupom" />
          </ion-row>
        </ion-col>
        <ion-col size="auto">
          <ion-input placeholder="Cupom"></ion-input>
        </ion-col>
        <ion-col>
          <ion-button>Regatar</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="5">
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="8">
          <ion-row class="ion-justify-content-between">
            <ion-label class="finalizacao">Subtotal</ion-label>
            <ion-text class="finalizacao__valores">R$ {{ this.subtotal.toFixed(2).replace('.', ',') }}</ion-text>
          </ion-row>
        </ion-col>
        <ion-col size="8">
          <ion-row class="ion-justify-content-between">
            <ion-label class="finalizacao">Frete</ion-label>
            <ion-text class="finalizacao__valores">R$ {{ this.frete.toFixed(2).replace('.', ',') }}</ion-text>
          </ion-row>
        </ion-col>
        <ion-col size="8">
          <ion-row class="ion-justify-content-between">
            <ion-label id="finalizacao__total" class="finalizacao">Total</ion-label>
            <ion-text class="finalizacao__valores">R$ {{ this.total.toFixed(2).replace('.', ',') }}</ion-text>
          </ion-row>
        </ion-col>

        <ion-col size="12">
          <ion-row class="ion-justify-content-center">
            <ion-col size="9">
              <ion-row id="divisoria"></ion-row>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col>
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-button>Finalizar</ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <app-footer></app-footer>
</ion-content>
