<ion-item>
  <ion-row class="container__item ion-align-items-center ion-justify-content-around ion-padding-top ion-padding-bottom">
    <ion-col size="12" sizeMd="6" sizeLg="3">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12" sizeMd="6">
          <ion-row class="ion-justify-content-end">
            <img src="../../../assets/imgs/this.produto-varicao/{{this.produto?.variacao?.imagem}}" alt="" />
          </ion-row>
        </ion-col>
        <ion-col size="12" sizeMd="6">
          <ion-text class="ion-text-center"><p>{{ this.produto?.variacao?.nome }}</p></ion-text>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12" sizeMd="3" sizeLg="3">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-text>R$ {{ this.produto?.variacao?.valor_final?.toFixed(2)?.replace('.', ',') }}</ion-text>
      </ion-row>
    </ion-col>

    <ion-col size="12" sizeMd="2">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <app-contador
          [contador]="this.produto!.quantidade!"
          [min]="1"
          (change)="this.produto!.quantidade = $event; this.calc.emit()"
          ></app-contador>
      </ion-row>
    </ion-col>

    <ion-col size="12" sizeLg="3">
      <ion-row class="ion-justify-content-end ion-align-items-center">
        <ion-col sizeMd="3" sizeLg="12">
          <ion-text class="ion-text-center"><p>R$ {{ this.produto?.subtotal?.toFixed(2)?.replace('.', ',') }}</p></ion-text>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="1">
      <ion-icon name="trash-outline" color="primary" class="remover" (click)="removerProduto()"></ion-icon>
    </ion-col>
  </ion-row>
</ion-item>
