<ion-item>
  <ion-row class="container__item ion-align-items-center ion-justify-content-around ion-padding-top ion-padding-bottom">
    <ion-col size="3">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col>
          <ion-row class="ion-justify-content-end">
            <img src="../../../assets/imgs/this.produto-varicao/{{this.produto?.variacao?.imagem}}" alt="" />
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-text>{{ this.produto?.variacao?.nome }}</ion-text>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="3">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-text>R$ {{ this.produto?.variacao?.valor_final?.toFixed(2)?.replace('.', ',') }}</ion-text>
      </ion-row>
    </ion-col>

    <ion-col size="3">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <app-contador
          [contador]="this.produto!.quantidade!"
          [min]="0"
          (change)="this.produto!.quantidade = $event; this.calc.emit()"
          ></app-contador>
      </ion-row>
    </ion-col>

    <ion-col size="3">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-text>R$ {{ this.produto?.subtotal?.toFixed(2)?.replace('.', ',') }}</ion-text>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-item>
