.container__item {
  width: 100% !important;
}

img {
  width: 25%;
  min-width: 100px;
  margin: 0 auto;
}

ion-text {
  font-size: 1.1rem;
}

#contador__quantidade {
  width: 50px;
}

.btn-qtde {
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  font-weight: bold;
}

.remover {
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}