<ion-item class="lista-ingredientes_ingredientes ion-text-capitalize">
  <ion-row class="ion-justify-content-around" [ngClass]="{'esconder' : this.detalhando}">
    <ion-col size="3.5" size-lg="3">
      <ion-label>Nome: </ion-label>
    </ion-col>
    <ion-col>
      <ion-label class="ion-text-start">{{this.ingrediente.variacao}}</ion-label>
    </ion-col>
    <ion-col size="1" size-lg=".7" (click)="mostrarDetalhes()">
      <ion-icon name="triangle" class="triangulo"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row [ngClass]="{'esconder' : !this.detalhando}">
    <ion-col>
      <ion-grid>
        <ion-row class="ion-justify-content-around">
          <ion-col>
            <ion-label>
              Produto: {{ this.produto }}
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              Tipo: {{ this.ingrediente.variacao }}
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-icon name="close-circle" (click)="emitRetirarProduto()"></ion-icon>
          </ion-col>
          <ion-col size="1" size-lg=".7" (click)="mostrarDetalhes()">
            <ion-icon name="triangle" class="triangulo triangulo-fechar"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-row>
        <ion-col>
          <ion-label>Descrição: </ion-label>
          <ion-text>
            {{ this.ingrediente.descricao }}
          </ion-text>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>

</ion-item>