
<form #formCupom="ngForm" (ngSubmit)="this.enviarCupom()" method="post">

  <ion-row>
    <ion-input ngModel required name="nome" label="Nome do cupom" label-placement="floating" fill="outline"
      placeholder="Digite o nome do cupom" value="{{this.cupom?.nome}}"></ion-input>
  </ion-row>

  <ion-row>
    <ion-input ngModel required min="1" max="100" type="number" name="porcentagem_desconto" label="Porcentagem de desconto" label-placement="floating"
      fill="outline" placeholder="Digite o valor do cupom" value="{{this.cupom?.porcentagem_desconto}}"></ion-input>
  </ion-row>

  <ion-row>
    <ion-input ngModel required name="data_validade" type="date" label="Validade do cupom" label-placement="floating"
      fill="outline" placeholder="Enter text"></ion-input>
  </ion-row>
  <ion-row>
    <ion-input ngModel required min="1" name="quantidade" type="number" label="Quantidade de cupons" label-placement="floating"
      fill="outline" placeholder="Digite a quantidade de cupons" value="{{this.cupom?.quantidade}}"></ion-input>
  </ion-row>

  <ion-row class="input-container">
    <ion-select  required mode="md" ngModel name="status" label="Status cupom" required placeholder="Status"
      label-placement="floating" fill="outline" value="{{this.cupom?.status}}">
      <ion-select-option value="1">Válido</ion-select-option>
      <ion-select-option value="0">Inválido</ion-select-option>
    </ion-select>
  </ion-row>

  <ion-row class="ion-justify-content-center">
      <app-btn-loading
        [btnNome]="(this.editar) ? 'Editar Cupom' : 'Criar Cupom'"
        [loading]="this.loadingBtn"
        [disabled]="!this.formCupom.form.valid"
      ></app-btn-loading>
  </ion-row>
</form>
