<ion-card class="card"  id="open-custom-dialog-{{ this.produto?.COD_PRODUTO }}">
  <ion-card-content>
    <ion-row class="ion-align-items-center ion-justify-content-around">
      <ion-col size="6">
        <ion-row class="card__wrapper-content ion-align-items-center">
          <ion-card-title>{{ this.produto?.variacao?.nome }}</ion-card-title>
          <ion-text class="card__desc">{{ this.produto.variacao?.descricao }}</ion-text>
          <ion-text>
            <p class="card__preco">R$ {{ this.produto.variacao?.valor_desconto?.toFixed(2) }}</p>
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col size="5">
        <ion-row>
          <img class="img-marmita" src="{{ this.produto?.variacao?.imagem }}" alt="{{ this.produto?.variacao?.nome }}" />
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

<ion-modal id="modal-{{ this.produto?.cod_produto }}" #modal trigger="open-custom-dialog-{{ this.produto?.cod_produto }}">
  <ng-template>
    <div class="wrapper">
      <h1>{{this.produto.variacao?.nome}}</h1>
    </div>
  </ng-template>
</ion-modal>