<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <ion-row class="ion-justify-content-center">
        <h1>CRIAR COMBO</h1>
      </ion-row>
      <form #selectForms="ngForm" (ngSubmit)="produtoSelecionadoSelect(selectForms.value)">
        <ion-row>
          <ion-col size="12">
            <div class="selects">
              <ion-row>

                <ng-container *ngFor="let grupos of dadoFinal">
                  <ion-col size="5">

                    <ion-select mode="md" ngModel [multiple]="true" aria-label="Variacao" name="{{grupos[0]}}"
                    label="{{grupos[0]}}" label-placement="floating" fill="outline" placeholder="{{grupos[0]}}">
                    <ng-container *ngFor="let categorias of grupos[1]">
                      <ion-select-option value="{{categorias[0]}}">{{ categorias[0] }}</ion-select-option>
                    </ng-container>
                  </ion-select>
                </ion-col>
              </ng-container>

                <ion-button eexpand="block" type="submit">ok</ion-button>
            </ion-row>
            </div>
          </ion-col>

        </ion-row>
      </form>

      <form action="">
        <ion-row>
          <ion-col size="12">
            <ng-container *ngFor="let grupos of dadoFinal">
              <ng-container *ngFor="let categorias of grupos[1]">
                <ng-container *ngFor="let produtos of produtoSelecionado">
                  <ng-container *ngFor="let produto of produtos[1]">
                    <div class="inputs" *ngIf="produto && produto  == categorias[0]">
                      <ion-row>
                        <ion-col size="12">
                          <ion-label class="variacao"> {{categorias[0]}}
                          </ion-label>
                        </ion-col>
                        <ion-col size="12">
                          <ion-radio-group value="custom-checked">
                            <ion-radio mode="md" *ngFor="let categoria of categorias[1]" value="{{categoria.nome}}"
                              labelPlacement="end" justify="start" aria-label="Custom checkbox">{{categoria.nome}}
                            </ion-radio>
                          </ion-radio-group>
                        </ion-col>
                      </ion-row>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>


            <ion-row>
            </ion-row>
            <ion-row>
              <ion-input mode="md" label="Nome" label-placement="floating" fill="outline"
                placeholder="Digite o nome"></ion-input>
            </ion-row>
            <ion-row>
              <ion-input mode="md" type="number" label="Valor do desconto" label-placement="floating" fill="outline"
                placeholder="Digite o Valor do desconto"></ion-input>
            </ion-row>
            <ion-row>
              <ion-textarea mode="md" label="Descrição" label-placement="floating" fill="outline"
                placeholder="Insira uma descrição"></ion-textarea>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size=6>
            <ion-button size="large" type="submit" [routerLink]="['/produtos']" expand="block">Voltar</ion-button>
          </ion-col>
          <ion-col size=6>
            <ion-button size="large" type="submit" expand="block">Criar</ion-button>
          </ion-col>
        </ion-row>

      </form>
    </ion-col>
  </ion-row>
</ion-content>