form {
  gap: 20px;

  ion-row {
    margin: 10px 0;
  }

  ion-textarea {
    height: 100px;
  }
}

h1 {
  color: #909090;
  font-size: 3rem;
}

ion-radio-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.variacao {
  font-size: 1.2rem;
}

.selects{
  display:flex;
  flex-direction: column;
  gap:10px;
}

.inputs{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.itens-combo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item-combo {
  overflow-x: auto;
}

.borda {
  outline: 1px solid black;
}