<ion-content [fullscreen]="true">
  <app-header-admin></app-header-admin>
  <ion-row class="ion-justify-content-around ion-padding">
    <ion-col size="11" class="grafico ">
      <ion-row class="ion-justify-content-center">
        <ion-col size="4">
          <ion-label class="titulo__grafico">Rendimento</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-select aria-label="intevalo" interface="popover" (ionChange)="selecionarIntervalo($event)" placeholder="Selecione">
            <ion-select-option value="semanalmente">Semanalmente</ion-select-option>
            <ion-select-option value="mensalmente">Mensalmente</ion-select-option>
            <ion-select-option value="anualmente">Anualmente</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <app-rendimento [intervalo]="this.intervalo"></app-rendimento>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-around ion-padding">
    <ion-col size="11" class="grafico ">
      <ion-row class="ion-justify-content-center">
        <ion-label class="titulo__grafico">Vendas</ion-label>
      </ion-row>
      <app-vendas></app-vendas>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-around ion-padding">
    <ion-col size="12" sizeMd="5" class="grafico ion-margin-vertical">
      <ion-row class="ion-justify-content-center">
        <ion-label class="titulo__grafico">Formas de pagamento</ion-label>
      </ion-row>
      <app-formas-pagamentos></app-formas-pagamentos>
    </ion-col>

    <ion-col size="12" sizeMd="5" class="grafico ion-margin-vertical">
      <ion-row class="ion-justify-content-center">
        <ion-label class="titulo__grafico">Taxa de cancelamento</ion-label>
      </ion-row>
      <app-taxa-cancelamento></app-taxa-cancelamento>
    </ion-col>
  </ion-row>
</ion-content>