.grafico {
  box-shadow: 0px 0px 8px var(--ion-color-primary);
  outline: 1px solid var(--ion-color-secondary);
  border-radius: 10px;
  margin: 16px 0;
  padding: 32px;
}

.titulo__grafico {
  font-size: 2rem;
}
