<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="9">
      <ion-row>
        <ion-col>
          <h1>Termos e Condições de Uso da Divina Refição</h1>
          <ion-text>
            <ol>
              <li>
                <h3 id="informacoes-coletadas">Aceitação dos Termos</h3>
                <p>
                  Ao acessar, cadastrar-se ou utilizar de qualquer forma a Divina Refeição, você concorda em
                  cumprir estes Termos e Condições. Caso discorde de algum aspecto, por favor, não utilize nosso
                  aplicativo.
                </p>
              </li>

              <li>
                <h3 id="uso-informacoes">Uso Responsável</h3>
                <p>
                  Cada detalhe coletado é usado com a missão de aprimorar sua experiência em nosso aplicativo. As
                  informações pessoais são empregadas para processar seus pedidos com precisão e garantir que suas
                  refeições cheguem pontualmente e conforme suas instruções. Além disso, ao analisar dados agregados e
                  anônimos, buscamos entender tendências de consumo e preferências, permitindo-nos aperfeiçoar nosso
                  cardápio, oferecer promoções direcionadas e surpreendê-lo positivamente. Se optar por receber
                  atualizações, estaremos em contato para mantê-lo informado sobre o status dos seus pedidos, ofertas
                  especiais e as mais recentes adições ao nosso menu.
                </p>
              </li>

              <li>
                <h3 id="compartilhamento-informacoes">Pedidos e Pagamentos</h3>
                <p>
                  O [Nome do Aplicativo] destina-se a tornar sua experiência de entrega de refeições mais conveniente.
                  Comprometemo-nos a fornecer um serviço de alta qualidade e esperamos que você utilize nossa plataforma
                  de maneira responsável e respeitosa. Você concorda em não usar o aplicativo para fins ilícitos ou de
                  qualquer forma que possa prejudicar outros usuários ou a reputação do serviço.

                </p>
              </li>

              <li>
                <h3 id="seguranca-dados">Cancelamento e Reembolso</h3>
                <p>
                  Para desfrutar plenamente dos recursos do [Nome do Aplicativo], você pode precisar criar uma conta. Ao
                  fazer isso, você concorda em fornecer informações precisas, completas e atualizadas. A segurança das
                  suas credenciais de login é sua responsabilidade, e você é responsável por todas as atividades
                  realizadas na sua conta.
                </p>
              </li>

              <li>
                <h3 id="cookies">Privacidade e Dados Pessoais</h3>
                <p>
                  Ao fazer um pedido através do [Nome do Aplicativo], você concorda em pagar o valor total indicado
                  pelas refeições escolhidas. Nossos métodos de pagamento oferecem conveniência e segurança. Quaisquer
                  taxas adicionais, como entregas ou serviços, serão comunicadas de forma clara e transparente.
                </p>
              </li>

              <li>
                <h3 id="menor-idade">Modificações no Aplicativo</h3>
                <p>
                  Entendemos que planos podem mudar. Caso deseje cancelar um pedido, consulte nossa política de
                  cancelamento para obter informações sobre prazos, reembolsos e procedimentos. Nosso objetivo é tornar
                  o processo o mais suave possível.
                </p>
              </li>

              <li>
                <h3 id="alteracoes">Limitação de Responsabilidade</h3>
                <p>
                  O [Nome do Aplicativo] e todo o conteúdo associado, como textos, imagens e logotipos, são protegidos
                  por direitos autorais e outras leis de propriedade intelectual. Você concorda em não reproduzir,
                  modificar ou distribuir nosso conteúdo sem autorização prévia.
                </p>
              </li>

              <li>
                <h3 id="alteracoes">Jurisdição</h3>
                <p>
                  Visando sempre melhorar, podemos modificar, atualizar ou encerrar aspectos do [Nome do Aplicativo].
                  Informaremos sobre alterações significativas. Ao continuar a usar o aplicativo após tais modificações,
                  você aceita as atualizações.

                </p>
              </li>

              <li>
                <h3 id="alteracoes">Alterações na Política de Privacidade</h3>
                <p>
                  Nos esforçamos para oferecer um serviço confiável, mas não podemos garantir ausência de interrupções
                  ou erros. Em nenhuma circunstância seremos responsáveis por danos diretos, indiretos, incidentais,
                  consequenciais ou especiais decorrentes do uso ou incapacidade de uso do aplicativo.
                </p>
              </li>

              <li>
                <h3 id="alteracoes">Alterações na Política de Privacidade</h3>

                <p>
                  Estes Termos e Condições são regidos pelas leis do [País ou Estado]. Qualquer disputa relacionada a
                  esses termos estará sujeita à jurisdição exclusiva dos tribunais competentes nesse local.

                </p>
                <p>
                  Ao prosseguir com o uso do [Nome do Aplicativo], você confirma ter lido, compreendido e aceitado estes
                  Termos e Condições de Uso. Para quaisquer dúvidas, entre em contato com nossa equipe de suporte em
                  [email de contato].
                </p>
              </li>
            </ol>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
