<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <ion-row class="ion-justify-content-center">
        <h1 class="ion-text-center">Criar Produto</h1>
      </ion-row>
      <form #cadastroProduto="ngForm" (ngSubmit)="this.cadastrarProduto()">
        <ion-row>
          <ion-col size="12">
            <ion-row>
              <ion-input ngModel name="nome" label="Nome" label-placement="floating" fill="outline"
                placeholder="Digite o nome"></ion-input>
            </ion-row>
            <ion-row>
              <ion-input ngModel name="imagem" label="Imagem" label-placement="floating" fill="outline"
                placeholder="Escolhe a imagem do produto" type="file"></ion-input>
            </ion-row>
            <ion-row>
              <ion-textarea ngModel mode="md" name="descricao" label="Descrição" label-placement="floating"
                fill="outline" placeholder="Insira uma descrição"></ion-textarea>
            </ion-row>
            <ion-row>
              <ion-select ngModel mode="md" name="cod_categoria" aria-label="Variacao"
                label="Selecione a categoria do produto" label-placement="floating" fill="outline"
                placeholder="Selecione o produto">
                <ng-container *ngFor="let categoria of categorias">
                  <ion-select-option value="{{categoria.id}}">{{ categoria.nome }}</ion-select-option>
                </ng-container>
              </ion-select>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-padding">
          <ion-col size="auto">
            <ion-button size="large" type="submit">Cadastrar</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-content>