<ion-row size="12" class="footer">
  <ion-col>
    <ion-row class="ion-margin-bottom ion-justify-content-around">
      <ion-col size="12" sizeMd="3.5">
        <ion-row class="titulos__footer">
          <ion-label> Sobre nós </ion-label>
        </ion-row>
        <ion-row class="informacoes__footer">
          <ion-col size="12" sizeMd="10">
            <ion-text class="ion-text-justify">
              <p>
                Trazemos a tradição da comida caseira direto para a sua mesa.
                Nossas marmitas são preparadas com carinho e ingredientes
                frescos, oferecendo opções variadas para atender a todos os
                gostos e necessidades alimentares. Agradecemos por escolher a
                Divina Refeição para alimentar seus momentos especiais. Bom
                apetite!
              </p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12" sizeMd="3.5">
        <ion-row class="titulos__footer">
          <ion-label> Endereço </ion-label>
        </ion-row>
        <ion-row class="informacoes__footer">
          <ion-col size="12" sizeMd="10">
            <ion-text>
              <p>Rua Capitão Lisboa, Nº 892, Tatuí, São Paulo, Brasil</p>
            </ion-text>
            <br />
            <ion-text><b>CEP:</b> 18270-070 </ion-text>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12" sizeMd="3.5">
        <ion-row class="titulos__footer">
          <ion-label> Contato </ion-label>
        </ion-row>
        <ion-row class="informacoes__footer">
          <ion-col class="ion-justify-content-between">
            <ion-row>
              <ion-col>
                <ion-label>Telefone: (15) 99641-9678</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>WhatsApp: (15) 99641-9678</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>E-mail:</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center termos">
      <ion-col size="12" sizeMd="4">
        <ion-row class="ion-justify-content-center ion-text-md-ion-justify-content-start">
          <ion-label id="logo">Divina Refeição</ion-label>
        </ion-row>
      </ion-col>

      <ion-col size="12" sizeMd="4">
        <ion-row class="ion-justify-content-around">
          <ion-label class="links" [routerLink]="['/termos-uso']">Termos</ion-label>
          <ion-label class="links" [routerLink]="['/privacidade']">Privacidade</ion-label>
          <ion-label class="links" [routerLink]="['/cookies']">Cookies</ion-label>
        </ion-row>
      </ion-col>

      <ion-col size="12" sizeMd="4">
        <ion-row class="redes__sociais ion-justify-content-center ion-text-md-ion-justify-content-end">
          <a href="https://www.facebook.com/divinarefeicaotatui/" target="_blank" rel="noopener noreferrer">
            <ion-label class="links"><ion-icon name="logo-facebook"></ion-icon></ion-label>
          </a>
          <a href="https://www.instagram.com/divinarefeicao_/" target="_blank" rel="noopener noreferrer">
            <ion-label class="links"><ion-icon name="logo-instagram"></ion-icon></ion-label>
          </a>
          <a href="https://api.whatsapp.com/send?phone=15996419678" target="_blank" rel="noopener noreferrer">
            <ion-label class="links"><ion-icon name="logo-whatsapp"></ion-icon></ion-label>
          </a>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
