<ion-row size="12" class="footer">
  <ion-col>
    <ion-row class="ion-margin-bottom">
      <ion-col size="12" sizeMd="4">
        <ion-row class="titulos__footer">
          <ion-label>
            Sobre nós
          </ion-label>
        </ion-row>
        <ion-row class="informacoes__footer">
          <ion-col size=12 sizeMd="10">
            <ion-text class="ion-text-justify">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero expedita nemo itaque! Blanditiis iste laudantium et rerum, ipsa ipsum, enim impedit nam doloribus at eius cum vero laborum aliquam architecto!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates repellat minima debitis eligendi, soluta, blanditiis tempore earum, omnis deleniti quis ratione hic facere repellendus animi esse natus quisquam temporibus. Aspernatur!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae harum facilis saepe dolores odio nam, iusto ducimus quidem quas eius hic quisquam obcaecati nulla, debitis nihil odit unde reiciendis exercitationem!
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12" sizeMd="4">
        <ion-row class="titulos__footer">
          <ion-label>
            Endereço
          </ion-label>
        </ion-row>
        <ion-row class="informacoes__footer">
          <ion-col size=12 sizeMd="10">
            <ion-text>
              Rua Capitão Lisboa, Nº 892, Tatuí, São Paulo, Brasil
            </ion-text>
            <br>
            <ion-text>
              CEP: 18270-070
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12" sizeMd="4">
        <ion-row class="titulos__footer">
          <ion-label>
            Contato
          </ion-label>
        </ion-row>
        <ion-row class="informacoes__footer">
          <ion-col class="ion-justify-content-between">
            <ion-row><ion-label>Telefone:</ion-label></ion-row>
            <ion-row><ion-label>Telefone Fixo:</ion-label></ion-row>
            <ion-row><ion-label>WhatsApp:</ion-label></ion-row>
            <ion-row><ion-label>E-mail:</ion-label></ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="ion-flex" class="termos">
      <ion-col size="12" sizeMd="4">
        <ion-row class="ion-justify-content-center ion-text-md-ion-justify-content-start">
          <h1 id="logo">Divina Refeição</h1>
        </ion-row>
      </ion-col>

      <ion-col size="12" sizeMd="3">
        <ion-row class="ion-justify-content-around">
          <ion-label>Termos</ion-label>
          <ion-label>Privacidade</ion-label>
          <ion-label>Cookies</ion-label>
        </ion-row>
      </ion-col>

      <ion-col size="12" sizeMd="4">
        <ion-row class="redes__sociais ion-justify-content-center ion-text-md-ion-justify-content-end">
          <ion-label><ion-icon name="logo-whatsapp"></ion-icon></ion-label>
          <ion-label><ion-icon name="logo-facebook"></ion-icon></ion-label>
          <ion-label><ion-icon name="logo-instagram"></ion-icon></ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>