#logo {
  font-family: 'mrDafoe';
  color: #fff;
}

.footer {
  background-color: var(--ion-color-primary);
  color: #fff;
  padding: 5px;
}

.titulos__footer {
  font-size: 1.2rem;
}

.termos {
  font-size: 1.2rem;
}

.footer {
  img {
    height: 2rem;
  }

  .informacoes__footer {
    color: #dad8d8;
  }

  .redes__sociais {
    gap: 10px;
  }

  ion-icon {
    font-size: 1.5rem;
    z-index: 2;
  }

  a:hover{
    cursor: pointer;
  }
}