<ion-row size="12" class="footer">
  <ion-col>
    <ion-row>
      <ion-col>
        <ion-row class="titulos__footer">
          <ion-label>
            Sobre nós
          </ion-label>
        </ion-row>
        <ion-row class="informacoes__footer">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos velit tenetur exercitationem ipsam illo numquam molestias voluptatem repudiandae, tempora aspernatur est quia officiis quas autem iste voluptas veritatis inventore eius.
          </p>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row class="titulos__footer">
          <ion-label>
            Endereço
          </ion-label>
        </ion-row>
        <ion-row class="informacoes__footer">
          <p>
           Rua Capitão Lisboa, Nº 892, Tatuí, São Paulo, Brasil, 182700070
          </p>
          </ion-row>
      </ion-col>
      <ion-col>
        <ion-row class="titulos__footer">
          <ion-label>
            Contato
          </ion-label>
        </ion-row>
        <ion-row class="informacoes__footer">
         
          <ion-list lines="none">
            <ion-item>
              <ion-label>Telefone:</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Telefone fixo</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>WhatsApp</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Email</ion-label>
            </ion-item>
          </ion-list>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="ion-flex" class="termos">
      <ion-col>Divina refeição</ion-col>

      <ion-col >
        <ion-row size="12" class="ion-justify-content-around">
          <ion-label>Termos</ion-label>
          <ion-label>Privacidade</ion-label>
          <ion-label>Cookies</ion-label>
        </ion-row>
      </ion-col>

      <ion-col>
        <ion-row class="ion-justify-content-end">
          <ion-label><ion-icon name="logo-whatsapp"></ion-icon></ion-label>
          <ion-label><ion-icon name="logo-facebook"></ion-icon> </ion-label>
          <ion-label><ion-icon name="logo-instagram"></ion-icon></ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>