<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-padding ion-justify-content-center ion-align-items-center">
    <ion-col size="11.9">
      <ion-row class="pedido" class="ion-justify-content-between ion-align-items-center">
        <ion-col size="12" sizeMd="auto">
          <ion-icon [routerLink]="['/pedidos']" name="arrow-back-outline"></ion-icon>
        </ion-col>
        <ion-col size="12" sizeMd="auto">
          <ion-row class="ion-justify-between ion-align-items-center">
            <ion-label>Pedido #{{this.pedido.id_pedido}}</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding ion-justify-content-center">
    <ion-col size="12" sizeMd="6">
      <table>
        <tr>
          <th>Itens</th>
          <th>Quantidades</th>
        </tr>
        <tr *ngFor="let produtos of pedido.produtos" [routerLink]="['/pedido']">
          <td>
            <ion-row class="ion-align-items-center">
              <ion-col size="3">
                <img src="{{produtos.variacao!.imagem}}" alt="{{produtos.nome}}">
              </ion-col>
              <ion-col>
                <ion-row>
                  {{produtos.nome}}
                </ion-row>
              </ion-col>
            </ion-row>
          </td>
          <td>3</td>
        </tr>
      </table>
      <ion-row class="ion-justify-content-center ion-margin">
        <ion-col size="12" sizeMd="6">
          <ion-button size="large" expand="block">Finalizar</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="12" sizeMd="4">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" sizeMd="6" class="informacoes">
          <ion-row>Cliente</ion-row>
          <ion-row>CEP: {{pedido.endereco_pedido}}</ion-row>
          <ion-row>Pagamento: {{pedido.forma_pagamento}}</ion-row>
          <ion-row>Status: {{pedido.status}}</ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>