<ion-row class="page">
  <ion-col size="12">
    <ion-row class="page__header ion-justify-content-between">
      <ion-col size="auto" class="page__header__title">
        <ion-label>Perfil</ion-label>
      </ion-col>
      <ion-col [class.ion-hide]="this.estaEditando" (click)="this.changeEditar(true)" size="auto">
        <img class="page__header__icon" src="../../../../assets/imgs/perfil-icons/edit.svg" alt="listar">
      </ion-col>

      <ion-col [class.ion-hide]="!this.estaEditando" (click)="this.changeEditar(false)" size="auto">
        <img class="page__header__icon" src="../../../../assets/imgs/perfil-icons/add.svg" alt="adicionar">
      </ion-col>
    </ion-row>

    <ion-row class="page_content ion-justify-content-center">
      <ion-col size="12">
        <form #editarForm="ngForm" (ngSubmit)="this.editar()">
          <ion-row class="input-container">
            <ion-input [readonly]="!this.estaEditando" [ngModel]="this.cliente.nome" required name="nome" helperText=" "
              label="Nome" type="text"></ion-input>
            <ion-text class="erro" color="danger">{{ this.erros.nome }}</ion-text>
          </ion-row>
          <ion-row class="input-container">
            <ion-input [readonly]="!this.estaEditando" [ngModel]="this.cliente.email" required name="email"
              helperText=" " label="Email" type="email"></ion-input>
            <ion-text class="erro" color="danger">{{ this.erros.email }}</ion-text>
          </ion-row>
          <ion-row class="input-container">
            <ion-input [readonly]="!this.estaEditando" [ngModel]="this.cliente.telefone" required name="telefone"
              helperText=" " label="Telefone" type="tel"></ion-input>
            <ion-text class="erro" color="danger">{{ this.erros.telefone }}</ion-text>
          </ion-row>
          <ng-container *ngIf="this.estaEditando">
            <ion-row class="input-container">
              <ion-input [readonly]="!this.estaEditando" [ngModel]="this.cliente.password" name="password"
                helperText=" " label="Senha" type="pasword"></ion-input>
              <ion-text class="erro" color="danger">{{ this.erros.password }}</ion-text>
            </ion-row>
            <ion-row class="input-container">
              <ion-input [readonly]="!this.estaEditando" ngModel errorText="Senhas não conferem invalida"
                name="confirmarPassword" label="Confirmar Senha" type="password"
                pattern="{{ this.editarForm.form.value.password }}"></ion-input>
            </ion-row>
            <ion-row class="ion-justify-content-center">

              <app-btn-loading btnNome="Editar" [loading]="this.loading"
                [disabled]="!this.editarForm.valid || (this.editarForm.form.value.password && !this.editarForm.form.value.confirmarPassword)"></app-btn-loading>
            </ion-row>
          </ng-container>
        </form>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
