<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <ion-row class="ion-justify-content-center">
        <h1>CRIAR GRUPO VARIAÇÃO</h1>
      </ion-row>
      <form action="" method="post">
    
        <ion-row>
          <ion-col size="12">
            <ion-row>
              <ion-input label="nome" label-placement="floating" fill="outline" placeholder="Digite o nome"></ion-input>
            </ion-row>
            <ion-row>
              <ion-input label="Quantidade minima" label-placement="floating" fill="outline"
                placeholder="Quantidade minima"></ion-input>
            </ion-row>
            <ion-row>
              <ion-input label="Quantidade maxima" label-placement="floating" fill="outline"
                placeholder="Quantidade maxima"></ion-input>
            </ion-row>
            <ion-row>
                <ion-select (ionChange)="produtoSelecionadoSelect($event)" aria-label="Variacao" interface="popover"
                  placeholder="Grupo para:">
                  <ng-container *ngFor="let obj of criarFormularoProduto">
                    <ion-select-option value="{{ obj.tipo }}">{{ obj.tipo }}</ion-select-option>
                  </ng-container>
                </ion-select>
     
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size=6>
            <ion-button size="large" type="submit" [routerLink]="['/produtos']" routerDirection="back" expand="block">Voltar</ion-button>
          </ion-col>
          <ion-col size=6>
            <ion-button size="large" type="submit" expand="block">Nova Variação</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
