<ion-content [fullscreen]="true">
  <app-header></app-header>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" sizeMd="9">
      <ion-row>
        <ion-col>
          <h1>Cookies da Divina Refição</h1>
          <h3>O que são cookies</h3>
          <ion-text>
            <p>
              Cookie é um pequeno arquivo adicionado ao seu dispositivo ou computador por sites que você visita. São
              amplamente utilizados para fazer os sites funcionarem, ou funcionarem de forma mais eficiente, bem como
              para fornecer uma experiência personalizada de acesso e fornecer informações aos proprietários do site.
            <ol>
              <li>
                <h3>Uso de Cookies no aplicativo da Divina Refeição</h3>
                <p>
                  Os cookies são usados de várias maneiras em nosso aplicativo para atingir os seguintes objetivos:
                </p>
                <ul>
                  <li>Cookies ajudam a manter sua sessão segura e permitem que você permaneça conectado à sua conta
                    durante a navegação.</li>
                  <li>Análise de Desempenho: Utilizamos cookies para coletar informações sobre como os usuários
                    interagem com o aplicativo, o que nos ajuda a melhorar sua estrutura e funcionalidade.</li>
                  <li>Personalização da Experiência: Os cookies possibilitam a personalização do conteúdo e dos
                    recursos, com base em suas preferências e histórico.</li>
                  <li>Publicidade Direcionada: Podemos usar cookies para exibir anúncios relevantes com base em seus
                    interesses e atividades.</li>
                </ul>
              </li>

              <li>
                <h3>Tipos de Cookies que Utilizamos</h3>
                <ul>
                  <li>Cookies Necessários: Essenciais para o funcionamento básico do aplicativo. Eles permitem a
                    navegação e a utilização de funcionalidades.</li>
                  <li>Cookies de Desempenho: Coletam informações sobre a maneira como os usuários interagem com o
                    aplicativo, como páginas visitadas e erros encontrados.</li>
                  <li>Cookies de Funcionalidade: Possibilitam a personalização da experiência do usuário, lembrando
                    preferências e configurações.</li>
                  <li>Cookies de Publicidade: São usados para exibir anúncios relevantes para você. Em alguns casos,
                    esses cookies podem ser compartilhados com terceiros para fins publicitários.</li>
                </ul>
              </li>

              <li>
                <h3>Gerenciamento de Cookies</h3>
                <p>
                  Você tem o controle sobre suas preferências de cookies. Pode gerenciá-las nas configurações do seu
                  navegador ou dispositivo. No entanto, bloquear ou restringir cookies pode impactar a funcionalidade do
                  aplicativo.
                </p>
              </li>

              <li>
                <h3>Cookies de Terceiros</h3>
                <p>
                  Nosso aplicativo pode conter cookies de terceiros, como serviços de análise ou parceiros de
                  publicidade. Sugerimos que revise as políticas de cookies dessas partes para entender como elas usam
                  essas tecnologias.
                </p>
              </li>

              <li>
                <h3>Atualizações da Política de Cookies</h3>
                <p>
                  Esta política pode ser atualizada ocasionalmente para refletir mudanças em nossas práticas ou em
                  regulamentos. Notificaremos sobre alterações significativas.
                </p>
              </li>
            </ol>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <app-footer></app-footer>
</ion-content>
