<ion-col size="11">
  <ion-row class="ion-justify-content-around">

    <ion-col size="12" sizeMd="3.8" class="ion-margin-vertical card bruto">
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <ion-row>
            <ion-col size="12" class="titulo" *ngIf="this.id == 'semanalmente'">Vendas Semana Atual</ion-col>
            <ion-col size="12" class="titulo" *ngIf="this.id == 'mensalmente'">Vendas Mês Atual</ion-col>
            <ion-col size="12" class="titulo" *ngIf="this.id == 'anualmente'">Vendas Ano Atual</ion-col>

            <ion-col size="12" class="Valor">R$ {{this.vendasAtuais}}</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12" sizeMd="3.8" class="ion-margin-vertical card despesa">
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <ion-row>
            <ion-col size="12" class="titulo" *ngIf="this.id == 'semanalmente'">Vendas Semana Passada</ion-col>
            <ion-col size="12" class="titulo" *ngIf="this.id == 'mensalmente'">Vendas Mês Passado</ion-col>
            <ion-col size="12" class="titulo" *ngIf="this.id == 'anualmente'">Vendas Ano Passado</ion-col>
            <ion-col size="12" class="Valor">R$ {{this.vendasPassadas}}</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12" sizeMd="3.8" class="ion-margin-vertical card lucro">
      <ion-row class="ion-align-items-center">
        <ion-col size="8">
          <ion-row>
            <ion-col size="12" class="titulo">Lucro</ion-col>
            <ion-col size="12" class="Valor">R$ {{this.lucro}}</ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="4">
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-icon name="cash-outline"></ion-icon>
            <ng-container *ngIf="this.lucro > 0">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ng-container>
            <ng-container *ngIf="-this.lucro > 0">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ng-container>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

  </ion-row>
</ion-col>

<ion-col class="ion-margin-vertical">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col class="grafico ion-padding">
      <canvas *ngIf="this.id == 'semanalmente'" id="vendasSemanalmente"></canvas>
      <canvas *ngIf="this.id == 'mensalmente'" id="vendasMensalmente"></canvas>
      <canvas *ngIf="this.id == 'anualmente'" id="vendasAnualmente"></canvas>
    </ion-col>
  </ion-row>
</ion-col>
